<!--#set var="title" value="Jose Roberto Colombo Junior" -->
<!--#include virtual="/header.html" -->

José Roberto Colombo Junior <br>
email: <a href="mailto:colombojrj@gmail.com">colombojrj@gmail.com</a> <br>

<p>
	All my symbols and footprints are licensed <em>GPL</em> for distribution, and unlimited for use.
</p>

<h2>Symbols and footprints</h2>

<h3>Transistors</h3>
	<h4>jFET</h4>
		<ul>
			<li> <a href="symbols/MPF102.sym">MPF102.sym</a> - N-Channel jFET</li>
		</ul>
		
	<h4>MOSFET</h4>
		<ul>
			<li> <a href="symbols/IRF530.sym">IRF530.sym</a> - N-Channel Power MOSFETs</li>
		</ul>
	
	<h4>Bipolar</h4>
		<ul>
			<li> <a href="symbols/BC337-1.sym">BC337-1.sym</a> - NPN Transistor - Switching and Amplifier Applications</li>
		</ul>
		<ul>
			<li> <a href="symbols/BF494-1.sym">BF494-1.sym</a> - NPN medium frequency transistors</li>
		</ul>

<h3>Diodes</h3>
	<h4>Varicap</h4>
		<ul>
			<li> <a href="symbols/BB809-1.sym">BB809-1.sym</a> - VHF variable capacitance diode</li>
		</ul>

<h3>RF - Radio amateur</h3>
	<h4>PLL frequency synthesizer</h4>
	<ul>
		<li> <a href="symbols/SAA1057.sym">SAA1057.sym</a> - Radio tuning PLL frequency synthesizer </li>
	</ul>
	
	<h4>FM front-end</h4>
	<ul>
		<li> <a href="symbols/TA7358.sym">TA7358.sym</a> - FM front-end application </li> 
	</ul>

<h3>Voltage Regulators</h3>
	<ul>
		<li> <a href="symbols/LM1117-3.3.sym">LM1117-3.3.sym</a> - 3.3V, 800mA</li>
		<li> <a href="symbols/LM336-2.5.sym">LM336-2.5V.sym</a> - 2.5V reference diode</li>
	</ul>

<h3>7-Segments Display</h3>
	<h4>Decoders/Drivers</h4>
	<ul>
		<li> <a href="symbols/74LS247.sym">74LS247.sym</a> - BCD to 7-segments (untested 'yet')</li>
	</ul>

	<h4>Display</h4>
	<ul>
		<li> <a href="symbols/7_segments_3_digits.sym">7_segments_3_digits.sym </a> - 3 Digit 7-Segments Display (untested 'yet') </li>
	</ul>

<h3>Rotary encoder</h3>
	<ul>
		<li> <a href="symbols/Rotary-Encoder-5Pin.sym">Rotary-Encoder-5Pin.sym</a> - 5 pin rotary encoder symbol</li>
        <li> <a href="footprints/rotary-encoder-5pin.fp">rotary-encoder-5pin.fp</a> - 5 pin rotary encoder footprint</li>
	</ul>

<h3>Audio</h3>
	<ul>
		<li> <a href="symbols/TDA1526.sym">TDA1526.sym</a> - Stereo-tone/volume control circuit</li>
	</ul>

<h3>Development boards</h3>
	<h4>Raspberry Pi 2</h4> 
	<ul>
		<li> <a href="symbols/raspberry_pi_2.sym">raspberry_pi_2.sym</a> - Raspberry Pi 2 Model B v1.1 </li>
	</ul>

<h3>PWM controllers</h3>
	<h4>PCA9685</h4> 
	<ul>
		<li> <a href="symbols/PCA9685.sym">PCA9685.sym</a> - 16-channel, 12-bit PWM, I2C-bus PWM controller </li>
	</ul>

<h3>UART emulator</h3>
<h4>SC16IS740</h4> 
	<ul>
		<li> <a href="symbols/SC16IS740_I2C_TSSOP16.sym">SC16IS740_I2C.sym</a> - Single UART with I2C-bus/SPI interface, 64-byte FIFOs, IrDA SIR </li>
		<li> <a href="symbols/SC16IS740_SPI_TSSOP16.sym">SC16IS740_SPI.sym</a> - Single UART with I2C-bus/SPI interface, 64-byte FIFOs, IrDA SIR </li>
	</ul>



<!--#include virtual="/trailer.html" -->

