<ul>
   <li> <a href="footprints/InductorDIP6.fp"> InductorDIP6.fp </a> - a footprint to suit small toroids, i.e. as used in rnig diode mixers </li>
   <li> <a href="footprints/CV-PolyvariconHorizontal.fp"> CV-PolyvariconHorizontal.fp </a> - polyvaricon variable capacitor</li>
<li> <a href="footprints/RV-Jaycar-Single-Gang.fp"> RV-Jaycar-Single-Gang.fp </a> - single gang PCB mounted potentiometer</li>
<li> <a href="footprints/RV-Jaycar-Double-Gang.fp"> RV-Jaycar-Double-Gang.fp </a> - double gang PCB mounted potentiometer</li>
<li> <a href="footprints/2SJ-01XX1N23-phono-jack-edge-mount.fp"> 2SJ-01XX1N23-phono-jack-edge-mount.fp </a> - edge mounted phono jack</li>
<li> <a href="footprints/ferrite_bead.fp"> ferrite_bead.fp </a> - commonly found through hole ferrite bead</li>
<li> <a href="footprints/tube807.fp"> tube807.fp </a> - footprint for ebay listed 807 FU7 tube socket </li>
<h2>Alphanumeric LED display footprints</h2>
<li> <a href="footprints/LED-0.39-inch-digit-fourteen-segment-display.fp"> LED-0.39-inch-digit-fourteen-segment-display.fp </a> - 0.39 inch high sixteen segment alphanumeric LED display</li>
<li> <a href="footprints/LED-0.5-inch-digit-sixteen-segment-display.fp"> LED-0.5-inch-digit-sixteen-segment-display.fp </a> - 0.5 inch high sixteen segment alphanumeric LED display</li>
<li> <a href="footprints/LED-0.8-inch-digit-sixteen-segment-display.fp"> LED-0.8-inch-digit-sixteen-segment-display.fp </a> - 0.8 inch high sixteen segment alphanumeric LED display</li>
<li> <a href="footprints/LED-1.0-inch-digit-sixteen-segment-display.fp"> LED-1.0-inch-digit-sixteen-segment-display.fp </a> - 1.0 inch high sixteen segment alphanumeric LED display</li>
<li> <a href="footprints/LED-1.2-inch-digit-sixteen-segment-display.fp"> LED-1.2-inch-digit-sixteen-segment-display.fp </a> - 1.2 inch high sixteen segment alphanumeric LED display</li>
<li> <a href="footprints/LED-2.3-inch-digit-sixteen-segment-display.fp"> LED-2.3-inch-digit-sixteen-segment-display.fp </a> - 2.3 inch high sixteen segment alphanumeric LED display</li>
<li> <a href="footprints/LED-0.54-inch-dual-digit-fourteen-segment-display.fp"> LED-0.54-inch-dual-digit-fourteen-segment-display.fp </a> - 0.54 inch high dual fourteen segment alphanumeric LED display</li>
LED-0.54-inch-dual-digit-fourteen-segment-display.fp
</ul>
<h2>Pololu related footprints</h2>
<li> <a href="footprints/DIP16W.fp"> DIP16W.fp </a> - wide DIP16 to suit Pololu A4988 stepper driver module</li>
</ul>
