<!--#set var="title" value="Erich Heinzle" -->
<!--#include virtual="/header.html" -->

Erich Heinzle<br>
email: <a href="mailto:a1039181@gmail.com">a1039181@gmail.com</a> <br>

<h2>General remarks</h2>
Here are some symbols, footprints and fonts for use with gEDA's PCB and gschem

<p>Note: All my symbols, footprints and scripts are licensed GPL 2 or GPL 3 for 
distribution, and unlimited for use. See
<a href="http://www.gnu.org/licenses/gpl.txt">http://www.gnu.org/licenses.gpl.txt</a>
for the details</p>

<h2>Symbols</h2>
The symbols have been found useful in amateur radio designs and microcontroller applications.
The more recently added *-LTS.sym symbols are for use with the translate2geda utility which can be found on github. The utility will convert LT-Spice .asc files to gschem .sch files, but to view and use the converted schematics, gschem must have these symbols with geometry equivalent to the symbols used in LT-Spice.

<!--#include file="symbols.html" -->

<h2>Footprints</h2>

<!--#include file="footprints.html" -->

<h2>Footprints ported from Kicad</h2>
It turns out that the Kicadians have some useful footprints. Here are some footprints that have been batch generated from GPL licenced Kicad modules.

The Kicad modules were converted into PCB compatible footprints with the following java utility, which is able to convert both legacy and s-file format Kicad modules: 
<a href="https://github.com/erichVK5/KicadModuleToGEDA"> KicadModuleToGEDA </a>

<!--#include file="kicadFootprints.html" -->

<h2>Fonts</h2>

<!--#include file="fonts.html" -->

<h2>Glyphs</h2>

<!--#include file="glyphs.html" -->

<h2>Changelog</h2>
A changelog of this section of geda symbols is 
<a href="changelog.html"> here</a>

<!--#include virtual="/trailer.html" -->
