<h3>Symbols</h3>
<h2>LT-Spice .asc -> gschem .sch conversion related symbols, for use with the translate2geda utility </h2>
<li> <a href="LTSpice/capacitor-LTS.sym"> capacitor-LTS.sym </a> - capacitor </li>
<li> <a href="LTSpice/resistor-LTS.sym"> resistor-LTS.sym </a> - resistor </li>
<li> <a href="LTSpice/inductor-LTS.sym"> inductor-LTS.sym </a> - inductor </li>
<li> <a href="LTSpice/diode-LTS.sym"> diode-LTS.sym </a> - diode </li>
<li> <a href="LTSpice/voltage-source-LTS.sym"> voltage-source-LTS.sym </a> - voltage source </li>
<li> <a href="LTSpice/current-source-LTS.sym"> current-source-LTS.sym </a> - current source </li>
<li> <a href="LTSpice/opamp-LTS.sym"> opamp-LTS.sym </a> - simple op amp </li>
<li> <a href="LTSpice/ground-LTS.sym"> ground-LTS.sym </a> - ground </li>
<li> <a href="LTSpice/npn-LTS.sym"> npn-LTS.sym </a> - NPN transistor </li>
</ul>
<h2>QUCS .sch -> gschem .sch conversion related symbols, for use with the translate2geda utility</h2>
<li> <a href="QUCS/capacitor-QUCS.sym"> capacitor-QUCS.sym </a> - capacitor </li>
<li> <a href="QUCS/resistor-QUCS.sym"> resistor-QUCS.sym </a> - resistor </li>
<li> <a href="QUCS/inductor-QUCS.sym"> inductor-QUCS.sym </a> - inductor </li>
<li> <a href="QUCS/diode-QUCS.sym"> diode-QUCS.sym </a> - diode </li>
<li> <a href="QUCS/voltage-source-QUCS.sym"> voltage-source-QUCS.sym </a> - voltage source </li>
<li> <a href="QUCS/current-source-QUCS.sym"> current-source-QUCS.sym </a> - current source </li>
<li> <a href="QUCS/opamp-QUCS.sym"> opamp-QUCS.sym </a> - simple op amp </li>
<li> <a href="QUCS/alternative-opamp-QUCS.sym"> alternative-opamp-QUCS.sym </a> - simple op amp </li>
<li> <a href="QUCS/ideal-opamp-QUCS.sym"> ideal-opamp-QUCS.sym </a> - simple op amp </li>
<li> <a href="QUCS/medium-opamp-QUCS.sym"> medium-opamp-QUCS.sym </a> - medium op amp </li>
<li> <a href="QUCS/AD825-opamp-QUCS.sym"> AD825-opamp-QUCS.sym </a> - AD825 op amp </li>
<li> <a href="QUCS/LM3886-opamp-QUCS.sym"> LM3886-opamp-QUCS.sym </a> - LM3886 op amp </li>
<li> <a href="QUCS/ground-QUCS.sym"> ground-QUCS.sym </a> - ground </li>
<li> <a href="QUCS/quantiser-QUCS.sym"> quantiser-QUCS.sym </a> - quantiser </li>
<li> <a href="QUCS/multiplier-QUCS.sym"> multiplier-QUCS.sym </a> - multiplier </li>
<li> <a href="QUCS/limiter-QUCS.sym"> limiter-QUCS.sym </a> - limiter </li>
<li> <a href="QUCS/hard-limiter-QUCS.sym"> hard-limiter-QUCS.sym </a> - hard limiter </li>
<li> <a href="QUCS/integrator-QUCS.sym"> integrator-QUCS.sym </a> - integrator </li>
<li> <a href="QUCS/differentiator-QUCS.sym"> differentiator-QUCS.sym </a> - differentiator </li>
<li> <a href="QUCS/notch-filter-QUCS.sym"> notch-filter-QUCS.sym </a> - notch filter </li>
<li> <a href="QUCS/all-pass-filter-QUCS.sym"> all-pass-filter-QUCS.sym </a> - all pass filter </li>
<li> <a href="QUCS/high-pass-filter-QUCS.sym"> high-pass-filter-QUCS.sym </a> - high pass filter </li>
<li> <a href="QUCS/band-pass-filter-QUCS.sym"> band-pass-filter-QUCS.sym </a> - band pass filter </li>
<li> <a href="QUCS/low-pass-filter-QUCS.sym"> low-pass-filter-QUCS.sym </a> - low pass filter </li>
<li> <a href="QUCS/Abs-QUCS.sym"> Abs-QUCS.sym </a> - Abs </li>
<li> <a href="QUCS/square-root-QUCS.sym"> square-root-QUCS.sym </a> - square root </li>
<li> <a href="QUCS/Vdelay-QUCS.sym"> Vdelay-QUCS.sym </a> - Vdelay </li>
<li> <a href="QUCS/VSub-QUCS.sym"> VSub-QUCS.sym </a> - VSub </li>
<li> <a href="QUCS/VSum-QUCS.sym"> VSum-QUCS.sym </a> - VSum </li>
<h2>Pololu related </h2>
<li> <a href="symbols/POLOLU_A4988.sym"> POLOLU_A4988.sym </a> - Pololu A4988 stepper driver mo
dule</li>
</ul>
<h2>Arduino related </h2>
<li> <a href="symbols/ARDUINO_NANO.sym"> ARDUINO_NANO.sym </a> - Arduino nano module imported from Kicad version by Jonathon Iapicco, GPL3</li>
</ul>
<html><h2>picaxe-3.lib</h2>
<li><a href="symbols/PICAXE-08M.sym"> PICAXE-08M.sym </a> - PICAXE </li>
<li><a href="symbols/PICAXE-14M.sym"> PICAXE-14M.sym </a> - PICAXE </li>
<li><a href="symbols/PICAXE-18X.sym"> PICAXE-18X.sym </a> - PICAXE </li>
<li><a href="symbols/PICAXE-28X1.sym"> PICAXE-28X1.sym </a> - PICAXE </li>
<li><a href="symbols/PICAXE-40X1.sym"> PICAXE-40X1.sym </a> - PICAXE </li>
</ul>
