<!--- Change log of the essential library in gedasymbols.org
<h4> /  /2013</h4>
<ol>
<li>
</ol>
 --->


<h4> 09/march/2015</h4>
<ol>
<li> lots of link fixes
</ol>

<h4> 14/october/2014</h4>
<ol>
<li> added symbols for LM13700: ota_LM13700_buffer.sym, ota_LM13700_pwr.sym, ota_LM13700.sym
<li> beautified transistor symbols npn_transistor.sym and pnp_transistor.sym
</ol>

<h4> 08/august/2014</h4>
<ol>
<li> added ind_1812.fp
</ol>

<h4> 01/august/2014</h4>
<ol>
<li> add IEC-name and IEC-number to the description of attributes in the essential lib
<li> add rGND.sym
<li> repaired paths in copy-to-essential.sh
</ol>


<h4> 29/april/2013</h4>
<ol>
<li> moved opamp.sym to opamp_single.sym
<li> moved opamp_pwr.sym to opamp_single_pwr.sym
<li> add opamp_with_pwr_pins.sym
</ol>


<h4> 16/april/2013</h4>
<ol>
<li> add varistors (symbol and footprints)
</ol>


<h4> 12/february/2013</h4>
<ol>
<li> add switch footprints
</ol>


<h4> 28/january/2013</h4>
<ol>
<li> add DIP28.fp and DIP28_wide.fp
</ol>


<h4>04/august/2012</h4>
<ol>
<li> set clearance of SO*.fp and DIP*.fp to decent values (1.0mm and 0.1mm)
<li> corrected pin numbers of regulator_positive_fixed.sym
</ol>


<h4>15/july/2012</h4>
<ol>
<li> added npn_transistor.sym, pnp_transistor.sym
<li> added res_400mil.fp, res_600mil.fp, res_800mil.fp
<li> added elko.sym
<li> added elko_RM5_D10.fp, elko_RM25_D6.fp, elko_RM35_D8.fp, elko_RM5_D10.fp,
   elko_RM5_D13.fp, elko_RM75_D16.fp, elko_RM75_D18.fp, elko_RM10_D22.fp
<li> added inductor.sym
<li> added ind_300mil.fp ind_400mil.fp 
</ol>


<h4>13/july/2012</h4>
<ol>
<li> added res_horiz.sym, res_vert.sym
<li> added res_400mil.fp, res_600mil.fp, res_800mil.fp
</ol>


<h4>12/july/2012</h4>
<ol>
<li> added symbols:
  <ol> 
    <li> potentiometer.sym
    <li> potentiometer_vert.sym
  </ol>
<li> added footprints:
  <ol>
    <li> VISHAY_T18.fp
    <li> VISHAY_T93YB.fp
    <li> VISHAY_T93YA.fp
    <li> ALPS_RK11K112.fp
  </ol>
</ol>


<h4>11/july/2012</h4>
<ol>
     <li> added comparator.sym
</ol>

<h4>10/july/2012</h4>
<ol>
     <li> added JMP_2PIN.fp , JMP_3PIN.fp and JMP_SMD.fp
     <li> added jumper.sym, jumper_3pin.sym
</ol>

<h4>03/july/2012</h4>
<ol>
     <li> added footprint category "connector"
     <li> added AKL_2PIN.fp and AKL_3PIN.fp - modular terminals, 5 mm pitch
</ol>

<h4>20/june/2012</h4>
<ol>
<li> added voltage regulator symbols: 
    <ol>
      <li> regulator_positive_fixed.sym, 
      <li> regulator_positive_variable.sym, 
      <li> regulator_negative_fixed.sym, 
      <li> regulator_negative_variable.sym
    </ol>
<li> added footprints for regulators: 
    <ol>
      <li> SO8_78Lxx.fp, 
      <li> SO8_79Lxx.fp, 
      <li> SO8_LM317.fp, 
      <li> SO8_LM337.fp, 
      <li> SOT89_78LxxA.fp 
      <li> SOT89_79Lxx.fp
    </ol>
</ol>
</h4>

<h4>18/april/2012</h4>
<ol>
<li> added instr_amp_8pin.sym
<li> added DIP12.fp DIP14.fp DIP16.fp DIP18.fp DIP20.fp DIP24.fp DIP24_wide.fp
     DIP40_wide.fp DIP6.fp DIP8.fp
</ol>


<h4>27/march/2012</h4>
<ol>
<li> added cap_200mil_b.sym cap_200mil_c.sym cap_1100mil_b.sym
<li> added cap_horiz.sym
</ol>


<h4>06/october/2011</h4>
<ol>
<li> moved 7404_4xNOT.sym to 7404_6xNOT
<li> added 7486_4xXOR.sym
</ol>

<h4>28/september/2011</h4>
<ol>
<li> added 7404_4xNOT.sym, 7432_4xOR.sym, 
<li> added 74161_4bit_counter.sym, 74112_2xJK_flipflop.sym
<li> added 74_pwr.sym, 74_pwr16.sym
</ol>

<h4>21/september/2011</h4>
<ol>
<li> add 7400_4xNAND.sym
</ol>

<h4>24/august/2011</h4>
<ol>
<li> add LED_3mm.fp, LED_5mm.fp
<li> add LED.sym
</ol>

<h4>23/august/2011</h4>
<ol>
<li> add TO126_ECB.fp TO220_ECB.fp TO220_ECB_LAY.fp TO220_GCE.fp TO220_GDS.fp TO247_GCE_LAY.fp TO247_GDS_LAY.fp TO92_DGS.fp TO92_ECB.fp TO92_GDS.fp TO247.fp TO247_LAY.fp TO92_123.fp SOT23_GSD.fp SOT23_BEC.fp SOT23.fp
<li> add SO8.fp, SO14.fp, SO16.fp, SO16W.fp, SO20.fp, SO20W.fp, SO24W.fp, SO28W.fp
<li> add nmosfet.sym nmosfet_power.sym pmosfet.sym pmosfet_power.sym
</ol>

<h4>17/august/2011</h4>
<ol>
<li> add diode.sym, zener.sym, photodiode_BPW34
<li> add dio_1206.fp, dio_1812.fp, dio_RM10.fp
<li> add BPW34.fp, BPW34S.fp, BPW34_upsidedown.fp, BPW34S_upsidedown.fp
</ol>

<h4>19,21/july/2011</h4>
<ol>
<li> add igbt.sym
<li> add TO220*.fp
<li> add cap.sym
<li> add cap_200mil.fp, cap_200mil_a.fp, cap_100mil.fp
<li> updated symbols.html
</ol>

<h4>09/july/2011</h4>
<ol>
<li> add opamp.sym, opamp_pwr.sym
<li> add opamp_dual.sym, opamp_dual_pwr.sym
</ol>

<h4>09/july/2011</h4>
<ol>
<li> add dir symbols/power
<li> add gnd.sym, nc.sym, Ub-.sym, Ub+.sym, vcc.sym, vee.sym, 5V+.sym
<li> add in.sym, out.sym
</ol>

<h4>01/july/2011</h4>
<ol>
<li> add dir symbols/titleblock
<li> add titleblock.sym
</ol>

<h4>20/june/2011</h4>
<ol>
<li> started a page for the essential lib
<li> add res.sym, generic resistor
<li> add res2.sym, generic resistor, american style
<li> add res_RM10.fp, res_RM15.fp, res_RM20.fp, res_vert, 0805.fp , 0603.fp
</ol>

