<!--#set var="title" value="Essential gEDA Library" -->
<!--#include virtual="/header.html" -->

put together by: Kai-Martin Knaak <br>
email: <a href="mailto:kmk@familieknaak.de">kmk@familieknaak.de</a> <br>

<h2>General remarks</h2>
The catalog of symbols and footprints presented here is supposed to provide
reasonable defaults for simple electronics projects. It is self consistent.
That is, the default footprint attribute of a symbol points to one of the
footprints given in the footprint section.

<p>Note: All symbols, footprints and scripts are licensed GPL 3 for 
distribution, and unlimited for use. See
<a href="http://www.gnu.org/licenses/gpl.txt">http://www.gnu.org/licenses.gpl.txt</a>
for the details</p>

<h2>Symbols</h2>
The symbols of the essential lib are designed as generic, yet ready
for use. They contain footprint attributes that match items
in the footprint section of this lib. The symbols also demonstrate the 
recommended use of some none-mandatory attributes like "documentation",
"comment" and "symversion". There is no need to add attributes to the
instances of the symbol in the schematics. The symbols are "heavy" in the
context of the geda library debate.
(see a recap of the debate <a href="http://geda.seul.org/wiki/geda:faq-gschem#what_s_this_business_about_heavy_vs_light_symbols"> in the gschem-FAQ</a>).

The set of symbols tries to deliver a look and feel consistent with 
accepted standard practice in electronics. The choice of symbols is by no 
means complete. But they should allow for simple projects.

<h3> Visible attributes</h3>
With a few exceptions, all symbols contain these three visible symbols:
<ol>
	<li>refdes
	<li>value
	<li>footprint
</ol>
On placement of the symbol, these attributes are promoted to the schematic.
They can be changed per instance in the schematic with the attribute editor.
To avoid clutter, only the value of these attributes is visible. Their color
 is "detached attribute", size is 10 units, except for the footprint
attribute, which is size 8. These three attributes are generally placed on
top of each other somewhere near the graphics. For slotted symbols, 
the slot attribute is also visible in the canvas.

<h3> Hidden attributes </h3>
All symbols in the lib contain these standard attributes in a hidden way:
<ol>
	<li>description
	<li>comment
	<li>documentation
	<li>symversion
	<li>author
	<li>dist-license
	<li>use-license
</ol>
The hidden attributes are placed top to bottom in this order somewhere above
the symbol graphic. Font size is 8, color is "Attribute", line separation 
is 200 units.

In case there is no value known for the standard attributes, but should be 
replaced with the instance in the schematic, their value is set to the 
string "unknown". If no value is the intended value, then the value is 
set to the string "none".

<h3>Additional Attributes</h3>
There are some attributes which are not (yet) in the set of standard 
attributes hard coded in source of gschem.

<h4>IEC number</h4>
If symbols comply with IEC 60617, they may contain a pair of attributes who
point to the number and name of the symbol in the standard. Example:
<ol>
	<li>IEC-name=noiseless ground
	<li>IEC-number=02-15-02
</ol>

<h4>List attributes</h4>
For some symbols there is more than one reasonable footprint in the lib.
Most notably, many components come in SMD and thru hole variants. Other
symbols may most likely be attributed with one of a small set of standard
values (e.g. 1N4148, or 1N4001 for diodes). To make this discoverable,
there are two attributes which contain a comma separated list of
values.
<ul>
	<li>footprints
	<li>values
</ul>
Currently, these lists are purely informational. Check "show inherited
attributes" in the attribute editor to get them displayed. Future versions
of the attribute editor may put the items in a drop-down list so you can
choose from them with a simple mouse click.

<h4> Design </h4>
In addition to the standard attributes, the symbols meet the following
design criteria:
<ul>
	<li>The sensitive point of all pins is at grid 100 gschem units.
	<li>Power pins of integrated circuits are split off to a separate 
power symbol. A hiddden comment attributes hints what power symbol to use.
	<li>Graphic lines are generally width 10
	<li>Pin length is generally 100 units.
	<li>Pin numbers are hidden, if they follow a generally accepted
 standard. With box shaped symbols they are placed 50 units above the pin 
and 50 units outside the box. Pin number size is 8 units.
	<li>With box shaped symbols, pin labels are placed 50 units inside 
the box, vertically centered to the pin. Pin label size is 10 units.
</ul>

<!--#include file="symbols.html" -->

<h2>Footprints</h2>

<!--#include file="footprints.html" -->

<h2>Changelog</h2>
A changelog of the essential library is 
<a href="changelog.html"> here</a>

<!--#include virtual="/trailer.html" -->
