<h4>Discretes</h4>
   <ul>
     <li> <a href="footprints/discrete/res_400mil.fp"> res_400mil.fp </a> - resistor, thru hole, approx. 10mm pin distance </li>
     <li> <a href="footprints/discrete/res_300mil.fp"> res_300mil.fp </a> - resistor, thru hole, approx. 15mm pin distance </li>
     <li> <a href="footprints/discrete/res_800mil.fp"> res_800mil.fp </a> - power resistor, thru hole, approx. 20mm pin distance </li>
     <li> <a href="footprints/discrete/res_vert.fp"> res_vert.fp </a> - resistor mounted thru hole, vertically </li>

     <li> <a href="footprints/discrete/cap_100mil.fp"> cap_100mil.fp </a> - capacitor, thru hole, 100 mil pin distance </li>
     <li> <a href="footprints/discrete/cap_200mil.fp"> cap_200mil.fp </a> - capacitor, thru hole, 200 mil pin distance </li>
     <li> <a href="footprints/discrete/cap_200mil_a.fp"> cap_200mil_a.fp </a> - capacitor, thru hole, 200 mil pin distance, 2.5 mm rectangular shape</li>
     <li> <a href="footprints/discrete/cap_200mil_b.fp"> cap_200mil_b.fp </a> - capacitor, thru hole, 200 mil pin distance, 5 mm rectangular shape</li>
     <li> <a href="footprints/discrete/cap_200mil_b.fp"> cap_200mil_c.fp </a> - capacitor, thru hole, 200 mil pin distance, 7 mm rectangular shape</li>
     <li> <a href="footprints/discrete/cap_1100mil.fp"> cap_1100mil.fp </a> - capacitor, thru hole, 1100 mil pin distance, 11 mm rectangular shape</li>

     <li> <a href="footprints/discrete/elko_RM25_D6.fp"> elko_RM25_D6.fp </a> elcap, pins 2.5 mm apart, diameter 6 mm </li>
     <li> <a href="footprints/discrete/elko_RM35_D8.fp"> elko_RM35_D8.fp </a>  elcap, pins 3.5 mm apart, diameter 8 mm </li>
     <li> <a href="footprints/discrete/elko_RM5_D6.fp"> elko_RM5_D6.fp </a> elcap, pins 5 mm apart, diameter 6 mm </li>
     <li> <a href="footprints/discrete/elko_RM5_D10.fp"> elko_RM5_D10.fp </a> elcap, pins 5 mm apart, diameter 10 mm </li>
     <li> <a href="footprints/discrete/elko_RM5_D13.fp"> elko_RM5_D13.fp </a> elcap, pins 5 mm apart, diameter 13 mm </li>
     <li> <a href="footprints/discrete/elko_RM75_D16.fp"> elko_RM75_D16.fp </a> elcap, pins 7.5 mm apart, diameter 16 mm </li>
     <li> <a href="footprints/discrete/elko_RM75_D18.fp"> elko_RM75_D18.fp </a> elcap, pins 7.5 mm apart, diameter 18 mm </li>
     <li> <a href="footprints/discrete/elko_RM10_D22.fp"> elko_RM10_D22.fp </a> elcap, pins 10 mm apart, diameter 22 mm </li>
     <li> <a href="footprints/discrete/elko_BC_D35.fp"> elko_BC_D35.fp </a> - elcap by BC Components, diameter 35 mm</li>

     <li> <a href="footprints/discrete/dio_1206.fp"> dio_1206.fp </a> - diode, SMD, 1206 </li>
     <li> <a href="footprints/discrete/dio_1812.fp"> dio_1812.fp </a> - diode, SMD, 1812 </li>
     <li> <a href="footprints/discrete/dio_400mil.fp"> dio_400mil.fp </a> - diode, thru hole, approx. 10 mm pin distance </li>

     <li> <a href="footprints/discrete/LED_1206.fp"> LED_1206.fp </a> - thru hole LED, SMD, size 1206 </li>
     <li> <a href="footprints/discrete/LED_3mm.fp"> LED_3mm.fp </a> - thru hole LED, 3mm diameter </li>
     <li> <a href="footprints/discrete/LED_3mm.fp"> LED_5mm.fp </a> - thru hole LED, 5mm diameter </li>

     <li> <a href="footprints/discrete/SOT23_BEC.fp"> SOT23_BEC.fp </a> - bipolar transistor, SOT23 </li>
     <li> <a href="footprints/discrete/TO92_ECB.fp"> TO92_ECB.fp </a> - bipolar transistor, TO92 </li>
     <li> <a href="footprints/discrete/TO220_ECB.fp"> TO220_ECB.fp </a> - bipolar transistor, TO220 </li>
     <li> <a href="footprints/discrete/TO220_ECB_LAY.fp"> TO220_ECB_LAY.fp </a> - bipolar transistor, TO220, screwed to pcb </li>
     <li> <a href="footprints/discrete/TO126_ECB.fp"> TO126_ECB.fp </a> - bipolar transistor, TO126 </li>

     <li> <a href="footprints/discrete/SOT23_GSD.fp"> SOT23_GSD.fp </a> - MOSFET, SOT23 </li>
     <li> <a href="footprints/discrete/TO92_GDS.fp"> TO92_GDS.fp </a> - MOSFET, TO92 </li>
     <li> <a href="footprints/discrete/TO92_DGS.fp"> TO92_DGS.fp </a> - MOSFET, TO92, alternative pinout </li>
     <li> <a href="footprints/discrete/TO220_GDS.fp"> TO220_GDS.fp </a> - MOSFET, TO220 </li>
     <li> <a href="footprints/discrete/TO247_GDS_LAY.fp"> TO247_GDS_LAY.fp </a> - MOSFET, TO247, screwed to pcb</li>

     <li> <a href="footprints/discrete/TO220_GCE.fp"> TO220_GCE.fp </a> - IGBT, TO220 </li>
     <li> <a href="footprints/discrete/TO220_GCE_LAY.fp"> TO220_GCE_LAY.fp </a> - IGBT, TO220, screwed to pcb</li>

     <li> <a href="footprints/discrete/var_8mm.fp"> var_8mm.fp </a> varistor with 8mm spaced pins, vertical mount</li>
     <li> <a href="footprints/discrete/var_8mm_lay.fp"> var_8mm_lay.fp </a> varistor with 8mm spaced pins, flat mount</li>
     <li> <a href="footprints/discrete/var_10mm.fp"> var_10mm.fp </a> varistor with 10mm spaced pins, vertical mount</li>
     <li> <a href="footprints/discrete/var_10mm_lay.fp"> var_10mm_lay.fp </a> varistor with 10mm spaced pins, flat mount</li>
   </ul>

<h4>Generic SMD</h4>
   <ul>
     <li> <a href="footprints/generic/SOT23.fp"> SOT23.fp </a> - generic SOT23 </li>
     <li> <a href="footprints/generic/0603.fp"> 0603.fp </a> - generic 0603 </li>
     <li> <a href="footprints/generic/0805.fp"> 0805.fp </a> - generic 0805 </li>
     <li> <a href="footprints/generic/SOT23.fp"> SOT23.fp </a> - generic SOT23 </li>
     <li> <a href="footprints/generic/SO8.fp"> SO8.fp </a> - generic SO8 </li>
     <li> <a href="footprints/generic/SO14.fp"> SO14.fp </a> - generic SO14 </li>
     <li> <a href="footprints/generic/SO16.fp"> SO16.fp </a> - generic SO16 </li>
     <li> <a href="footprints/generic/SO16W.fp"> SO16W.fp </a> - generic SO16W </li>
     <li> <a href="footprints/generic/SO20.fp"> SO20.fp </a> - generic SO20 </li>
     <li> <a href="footprints/generic/SO20W.fp"> SO20W.fp </a> - generic SO20W </li>
     <li> <a href="footprints/generic/SO24W.fp"> SO24W.fp </a> - generic SO24W </li>
     <li> <a href="footprints/generic/SO28W.fp"> SO28W.fp </a> - generic SO28W </li>
   </ul>

<h4>Generic Thru Hole</h4>
   <ul>
     <li> <a href="footprints/generic/DIP6.fp"> DIP6.fp </a> - dual inline package 6 pin</li>
     <li> <a href="footprints/generic/DIP8.fp"> DIP8.fp </a> - dual inline package 8 pin</li>
     <li> <a href="footprints/generic/DIP12.fp"> DIP12.fp </a> - dual inline package 12 pin</li>
     <li> <a href="footprints/generic/DIP14.fp"> DIP14.fp </a> - dual inline package 14 pin</li>
     <li> <a href="footprints/generic/DIP16.fp"> DIP16.fp </a> - dual inline package 16 pin</li>
     <li> <a href="footprints/generic/DIP18.fp"> DIP18.fp </a> - dual inline package 18 pin</li>
     <li> <a href="footprints/generic/DIP20.fp"> DIP20.fp </a> - dual inline package 20 pin</li>
     <li> <a href="footprints/generic/DIP24.fp"> DIP24.fp </a> - dual inline package 24 pin</li>
     <li> <a href="footprints/generic/DIP24_wide.fp"> DIP24_wide.fp </a> - dual inline package 24 pin, wide</li>
     <li> <a href="footprints/generic/DIP28.fp"> DIP28.fp </a> - dual inline package 28 pin</li>
     <li> <a href="footprints/generic/DIP28_wide.fp"> DIP28_wide.fp </a> - dual inline package 28 pin, wide</li>
     <li> <a href="footprints/generic/DIP40_wide.fp"> DIP40_wide.fp </a> - dual inline package 40 pin</li>

     <li> <a href="footprints/generic/TO92_123.fp"> TO92_123.fp </a> - generic TO92 </li>
     <li> <a href="footprints/generic/TO220.fp"> TO220.fp </a> - generic TO220 </li>
     <li> <a href="footprints/generic/TO247.fp"> TO247.fp </a> - generic TO247 </li>
     <li> <a href="footprints/generic/TO247_LAY.fp"> TO247_LAY.fp </a> - generic TO247, screwed to pcb </li>
   </ul>

<h4>Specific</h4>
   <ul>
     <li> <a href="footprints/specific/BPW34.fp">BPW34.fp </a> photodiode, model BPW34, thru hole
     <li> <a href="footprints/specific/BPW34S.fp">BPW34S.fp </a> photodiode, model BPW34S, SMD
     <li> <a href="footprints/specific/BPW34_upsidedown.fp">BPW34_upsidedown.fp </a> photodiode, BPW34, sensitive side on bottom side
     <li> <a href="footprints/specific/BPW34S_upsidedown.fp">BPW34S_upsidedown.fp </a> photodiode, BPW34S, sensitive side on bottom side
   <li> <a href="footprints/specific/SO8_78Lxx.fp"> SO8_78Lxx.fp </a> - 8-pin version of fixed positive voltage regulator</li>
   <li> <a href="footprints/specific/SO8_79Lxx.fp"> SO8_79Lxx.fp </a> - 8-pin version of fixed negative voltage regulator</li>
   <li> <a href="footprints/specific/SO8_LM317.fp"> SO8_LM317.fp </a> - 8-pin version of variable positive voltage regulator</li>
   <li> <a href="footprints/specific/SO8_LM337.fp"> SO8_LM337.fp </a> - 8-pin version of variable negative voltage regulator</li>
   <li> <a href="footprints/specific/SOT89_78LxxA.fp"> SOT_78LxxA.fp </a> - for some reason, the most prolific SOT89 version of the fixed positive voltage regulator has input and output swapped.</li>
   <li> <a href="footprints/specific/SOT89_79Lxx.fp"> SOT_79Lxx.fp </a> - SOT89 version of the fixed negative voltage regulator.</li>
   <li> <a href="footprints/specific/SOT89_LM317.fp"> SOT89_LM317.fp </a> - SOT89 version of the variable positive voltage regulator.</li>
   <li> <a href="footprints/specific/VISHAY_T18.fp"> VISHAY_T18.fp </a> - multi turn cermet potentiometer, length 19 mm, series VISHAY T18, or BI technologies model 89 </li>
   <li> <a href="footprints/specific/VISHAY_T93YA.fp"> VISHAY_T93YA.fp </a> - multi turn cermet potentiometer, height 10 mm, series VISHAY T93YA, or BI technologies model 67W</li>
   <li> <a href="footprints/specific/VISHAY_T93YB.fp"> VISHAY_T93YB.fp </a> - multi turn cermet potentiometer, height 10 mm, series VISHAY T93YB, or BI technologies model 67Y</li>
   <li> <a href="footprints/specific/ALPS_RK11K112.fp"> ALPS_RK11K112.fp </a> - single turn potentiometer by ALPS</li>
   </ul>

<h4>Connectors</h4>
   <ul>
     <li> <a href="footprints/connector/AKL_2PIN.fp"> AKL_2PIN.fp </a> - modular terminal, 5 mm pitch, 2 pins</li>
     <li> <a href="footprints/connector/AKL_3PIN.fp"> AKL_3PIN.fp </a> - modular terminal, 5 mm pitch, 3 pins</li>
   </ul>
