<h4>Titleblock</h4>
<ul>
<li><a href="symbols/titleblock/titleblock.sym">titleblock.sym</a> - A titleblock with detached attributes for title, author, date, revision, etc.</li>
<li><a href="symbols/titleblock/in.sym">in.sym</a> - input port symbol for sub sheets in a hierarchy </li>
<li><a href="symbols/titleblock/out.sym">out.sym</a> - output port symbol for sub sheets in a hierarchy </li>
</ul>

<h4>Analog</h4>
<ul>
<li><a href="symbols/analog/comparator.sym">comparator.sym</a> - generic single comparator</li>
<li><a href="symbols/analog/comparator_pwr.sym">comparator_pwr.sym</a> - power symbol for generic single comparator</li>

<li><a href="symbols/analog/instr_amp_8pin.sym">instr_amp_8pin.sym</a> - generic eight pin instrumentation amplifier</li>

<li><a href="symbols/analog/opamp_with_pwr_pins.sym">opamp_with_pwr_pins.sym</a> - generic operational amplifier with explicit power pins</li>
<li><a href="symbols/analog/opamp_single.sym">opamp_single.sym</a> - generic single operational amplifier </li>
<li><a href="symbols/analog/opamp_single_pwr.sym">opamp_single_pwr.sym</a> - power symbol for the generic single opamp </li>
<li><a href="symbols/analog/opamp_dual.sym">opamp_dual.sym</a> - generic dual opamp </li>
<li><a href="symbols/analog/opamp_dual_pwr.sym">opamp_dual_pwr.sym</a> - power symbol for dual opamp </li>
<li><a href="symbols/analog/opamp_offset.sym">opamp_offset.sym</a> - opamp with offset compensation at pin 1 and pin 4 </li>

<li><a href="symbols/analog/ota_LM13700.sym">ota_LM13700.sym</a> - dual operational transconductance amplifier (OTA), model LM13700 </li>
<li><a href="symbols/analog/ota_LM13700_buffer.sym">ota_LM13700_buffer.sym</a> - buffers of LM13700 </li>
<li><a href="symbols/analog/ota_LM13700.sym">ota_LM13700_pwr.sym</a> - power pins of LM13700 </li>

<li><a href="symbols/analog/regulator_positive_fixed.sym">regulator_positive_fixed.sym</a> - linear voltage regulator with fixed positive output. E.g LM7805</li>
<li><a href="symbols/analog/regulator_positive_variable.sym">regulator_positive_variable.sym</a> - linear voltage regulator with adjustable positive output. E.g LM317</li>
<li><a href="symbols/analog/regulator_negative_fixed.sym">regulator_negative_fixed.sym</a> - linear voltage regulator with fixed negative output. E.g LM7905</li>
<li><a href="symbols/analog/regulator_negative_variable.sym">regulator_negative_fixed.sym</a> - linear voltage regulator with adjustable negative output. E.g LM337</li>
<li><a href="symbols/analog/voltage_reference.sym">voltage_reference.sym</a> - precision voltage reference, e.g. REF02, REF01, AD780</li>
</ul>

<h4>Generic discretes</h4>
<ul>
<li><a href="symbols/discrete/cap_horiz.sym">cap_horiz.sym</a> - capacitor, drawn horizontally </li>
<li><a href="symbols/discrete/cap_vert.sym">cap_vert.sym</a> - capacitor, drawn vertically </li>
<li><a href="symbols/discrete/diode.sym">diode.sym</a> - diode </li>
<li><a href="symbols/discrete/zener.sym">zener.sym</a> - zener </li>
<li><a href="symbols/discrete/igbt.sym">igbt.sym</a> - N-channel enhancement IGBT </li>
<li><a href="symbols/discrete/res_horiz.sym">res_horiz.sym</a> - resistor, DIN EN style, drawn horizontally </li>
<li><a href="symbols/discrete/res_vert.sym">res_vert.sym</a> - resistor, DIN EN style, drawn vertically </li>
<li><a href="symbols/discrete/res2_horiz.sym">res2.sym</a> - resistor, ANSI style, drawn horizontally </li>

<li><a href="symbols/discrete/npn_transistor.sym">npn_transistor.sym</a> - NPN transistor</li>
<li><a href="symbols/discrete/pnp_transistor.sym">pnp_transistor.sym</a> - PNP transistor</li>
<li><a href="symbols/discrete/nmosfet.sym">nmosfet.sym</a> - N-channel MOSFET</li>
<li><a href="symbols/discrete/nmosfet_power.sym">nmosfet_power.sym</a> - N-channel MOSFET with body diode</li>
<li><a href="symbols/discrete/pmosfet.sym">pmosfet.sym</a> - p-channel MOSFET</li>
<li><a href="symbols/discrete/pmosfet_power.sym">pmosfet_power.sym</a> - P-channel MOSFET with body diode</li>
<li><a href="symbols/discrete/igbt.sym">igbt.sym</a> - N-channel enhancement IGBT </li>
<li><a href="symbols/discrete/potentiometer.sym">potentiometer.sym</a> - potentiometer, drawn horizontally</li>
<li><a href="symbols/discrete/potentiometer_vert.sym">potentiometer_vert.sym</a> - potentiometer, drawn vertivcally</li>
<li><a href="symbols/discrete/varistor.sym">varistor.sym</a> - varistor</li>
</ul>

<h4>Digital</h4>
<ul>
<li><a href="symbols/digital/7400_4xNAND.sym">7400_4xNAND.sym</a> - 4x two way NAND
<li><a href="symbols/digital/7404_4xNOT.sym">7400_6xNOT.sym</a> - 6x two way NOT
<li><a href="symbols/digital/7432_4xOR.sym">7432_4xOR.sym</a> - 4x two way OR
<li><a href="symbols/digital/7486_4xXOR.sym">7486_4xXOR.sym</a> - 4x two way XOR
<li><a href="symbols/digital/74112_2xJK_flipflop.sym">74112_2xJK_flipflop.sym</a> - 2x JK-flipflop
<li><a href="symbols/digital/74161_4bit_counter.sym">74161_4bit_counter.sym</a> - 4 bit programmable counter with clear
<li><a href="symbols/digital/74_pwr.sym">74_pwr.sym</a> - symbol for power pins of 74** components </ul>


<h4>Power</h4>
These symbols provide a specific net
<ul>
<li><a href="symbols/power/gnd.sym">gnd.sym</a> - ground </li>
<li><a href="symbols/power/vcc.sym">vcc.sym</a> - positive logic supply </li>
<li><a href="symbols/power/vee.sym">vee.sym</a> - negative logic supply </li>
<li><a href="symbols/power/Ub+.sym">Ub+.sym</a> - positive analog supply </li>
<li><a href="symbols/power/Ub-.sym">Ub-.sym</a> - negative analog supply </li>
<li><a href="symbols/power/5V+.sym">5V+.sym</a> - +5 V </li>
<li><a href="symbols/power/nc.sym">nc.sym</a> - deliberately not connected </li>
</ul>

<h4>Specific</h4>
<ul>
<li><a href="symbols/discrete/photodiode_BPW34.sym">photodiode_BPW34.sym</a> - photodiode BPW34 </li>
</ul>

<h4>Misc</h4>
<ul>
<li> <a href="symbols/misc/jumper.sym">jumper.sym</a> - two pin jumper </li>
<li> <a href="symbols/misc/jumper_3pin.sym">jumper_3pin.sym</a> - three pin jumper </li>
<li> <a href="symbols/misc/jumper_default.sym">jumper_default.sym</a> - graphical symbol to mark the default setting of a jumper </li>
</ul>
