<!--#set var="title" value="Alessandro Mauro" -->
<!--#include virtual="/header.html" -->

Alessandro Mauro<br>

<h2>Symbols</h2>
<ul>
<li><a href="KEM-23011.sym">KEM-23011.sym</a> : 7 segment display, common anode, 2.3'' height</li>
<li><a href="DM13A.sym">DM13A.sym</a> : KEM13A shift register + constant current driver chip, 24 pin, MB15026GD compatible</li>
<li><a href="FZE1066.sym">FZE1066.sym</a> : Siemens Infineon FZE1066 - KNX/EIB phy transceiver</li>
<li><a href="ARIAG25.sym">ARIAG25.sym</a> : Acme Systems ARIA G25 embedded module</li>
</ul>

<h2>Footprints</h2>
<ul>
<li><a href="KEM-23011.fp">KEM-23011.fp</a> : 7 segment display, common anode, 2.3'' height</li>
<li><a href="SOP24.fp">SOP24.fp</a> : SOP24 generic footprint, suitable for DM13A, MB15026GD, or others</li>
<li><a href="SOP20S.fp">SOP20S.fp</a> : SOP20 generic footprint, suitable for FZE1066 or others</li>
<li><a href="ARIAG25.fp">ARIAG25.fp</a> : Acme Systems ARIA G25 embedded module</li>
</ul>

<!--#include virtual="/trailer.html" -->
