<!--#set var="title" value="Edward Hennessy" -->
<!--#include virtual="/header.html" -->

Edward Hennessy<br>

<h2>Footprint Generator</h2>

<p>This footprint generator allows the user to quickly generate footprints for use with PCB.</p>

<img src="gfootgen.png"/>

<h3>Installation</h3>

<p>The instuctions and project source are stored in GitHub here:</p>

<a href="https://github.com/ehennes775/gfootgen">https://github.com/ehennes775/gfootgen</a>

<!--#include virtual="/trailer.html" -->
