<!--#set var="title" value="Werner Hoch" -->
<!--#include virtual="/header.html" -->

Werner Hoch <br>
email: <a href="mailto:werner.ho@gmx.de">werner.ho@gmx.de</a>

<h2>Tools</h2>
    <ul>
      <li><a href="tools/nice_sym.py">nice_sym.py</a>: a script that
	helps to beautify and repair gschem symbols. It creates the same
	symbol style as tragesym
	<ul>
	  <li> set attribute colors</li>
	  <li> add templates of missing attributs</li>
	  <li> set pin attribute allignments and colors</li>
	  <li> add templates of missing pin attributes</li>
	</ul>
      </li>
      <li>
	<a href="tools/subdir_gsymcheck.sh">subdir_gsymcheck.sh</a>: a
	shell script that runs gsymcheck in all subdirectories that
	contain one or more gEDA symbols.
      </li>
      <li>
	<a href="tools/index_symbols.py">index_symbols.py</a>: a
	script that recursively collects all symbol from a given
	directory and copies them to a new directory. The symbol names
	is extended by a 8-character SHA1 hash. Thus symbol files
	with the same filename can be stored at the new location. This
	also helps to store different versions of a symbol. <br>
	I'm currently using this script to collect all symbols from the 
	gedasymbols CVS and to conntect them into gschem.
      <li>
      <li>
	<a href="tools/connect_symbols.py">connect_symbols.py</a>: a
	script that makes all symbols from a given directory available
	for libgeda with the component-library-command. Every symbol
	is checked with gsymcheck when selecting it in the component
	dialog. <br> With this and the previous script I've connected
	all symbols from gedasymbols into gschem. I can easily search
	for a symbol in gschem and use it if it's in good shape. <br>
	<b>Note:</b> I think the good symbols should still be copied
	to a different location by the user.
      </li>
    </ul>

<!--<h2>Documentation</h2>-->


<h2>Symbols</h2>
<h3>symbols collected from SF and mailing lists</h3>
From time to time there are patches and bug reports with new symbols on the 
<a href="http://sourceforge.net/tracker/?group_id=161080">sourceforge tracker</a>.
This is the collection created out of these symbols. <br>
Please note, these symbols are reviewed but not tested. Use at your own risk!<br>

<ul>
<!-- <li><a href="symbols/[symbolname.sym]">name</a> - [description], [[source]]</li> 
<li><a href=""></a> -  - []</li> -->

<li><a href="symbols/mail/PCA9531-1.sym">PCA9531-1.sym</a> - 8bit IO, I2C, interrupt, 6 adresses, 2k EEPROM - [received from Thomas Kohler via email]</li>
<li><a href="symbols/mail/PCA9501-1.sym">PCA9501-1.sym</a> - 8bit I2C LED dimmer - [received from Thomas Kohler via email]</li>
<li><a href="symbols/mail/PCA9533-1.sym">PCA9533-1.sym</a> - 4bit I2C LED dimmer - [received from Thomas Kohler via email]</li>
<li><a href="symbols/mail/ad8067-1.sym">ad8067-1.sym</a> - High gain bandwith op amp - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/hcpl0930-1.sym">hcpl0930-1.sym</a> - High speed digital isolator - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/irs4427-1.sym">irs4427-1.sym</a> - Dual low side driver - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/lp2980-1.sym">lp2980-1.sym</a> - Micropower 50 mA ultra low-dropout regulator - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/lt1678-1.sym">lt1678-1.sym</a> - dual, low noise, rail-to-rail, precision op amps - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/lt1679-1.sym">lt1679-1.sym</a> - quad, low noise, rail-to-rail, precision op amps - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/ltc2641-1.sym">ltc2641-1.sym</a> - 16Bit DAC - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/ltc6241-1.sym">ltc6241-1.sym</a> - dual, low noise, rail-to-rail, cmos op amps - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/mail/tsm0515-1.sym">tsm0515-1.sym</a> - Micropower 50 mA ultra low-dropout regulator - [received from Thomas Reinemann via email]</li>
<li><a href="symbols/sf/triac-2.sym">triac-2.sym</a> - TRIAC (TRIode for Alternating Current) - [alternativ triac symbol [see BUG #1767738]]</li>
<li><a href="symbols/sf/lt1073-1.sym">lt1073-1.sym</a> - micropower DC/DC converter - [see PATCH #1758422]</li>
<li><a href="symbols/sf/ltc1682-1.sym">ltc1682-1.sym</a> - doubler charge pump with regulator - [see PATCH #1789978]</li>
<li><a href="symbols/sf/Si9948AEY.sym">Si9948AEY.sym</a> - dual P-Channel Enhancement-Mode MOSFET - [see PATCH #1859654]</li>
<li><a href="symbols/sf/PIC18F4550_DIP40.sym">PIC18F4550_DIP40.sym</a> - PIC microcontroller with USB interface - [see PATCH #1859666]</li>
<li><a href="symbols/sf/sim600.sym">sim600.sym</a> - symbol for the SIM600 GPRS/EDGE module - [see PATCH #2147829]</li>
</ul>

<h3>symbols collected from my projects</h3>
<ul>
<li><a href="symbols/own/lp2951-1.sym">lp2951-1.sym</a> - low dropout voltage regulator</li>
<li><a href="symbols/own/resonator-1.sym">resonator-1.sym</a> - ceramic resonator with buildin capacitors</li>
<li><a href="symbols/own/tsop1738-1.sym">tsop1738-1.sym</a> - photo modules for PCM remote control systems </li>
<li><a href="symbols/own/HD44780_con-1.sym">HD44780_con-1.sym</a> - connector for HD44780 compatible LCD displays </li>
<li><a href="symbols/own/RS232_SUBD9-1.sym">RS232_SUBD9-1.sym</a> - connector for RS232 SUBD9 </li>
<li><a href="symbols/own/avr_isp-1.sym">avr_isp-1.sym</a> - connector for atmel AVR incircuit programming </li>
<li><a href="symbols/own/bsp742-1.sym">bsp742-1.sym</a> - high side switch </li>
</ul>


<h2>Footprints</h2>
<h3>symbols collected from SF and mailing lists</h3>
From time to time there are patches and bug reports with new footprints on the 
<a href="http://sourceforge.net/tracker/?group_id=161080">sourceforge tracker</a>.
This is the collection created out of these symbols. <br>
Please note, these footprints are not tested. Use at your own risk!<br>
<ul>
<li><a href="footprints/sf/AXK5F00545YJ.fp">AXK5F00545YJ.fp</a> -  footprint for SIMCOM's SIM600 GPRS/EDGE module - [see PATCH #161080]</li>

</ul>



<!--#include virtual="/trailer.html" -->
