<!--#set var="title" value="Evgeny Ivanov" -->
<!--#include virtual="/header.html" -->

Evgeny Ivanov<br>
email: <a href="mailto:iev@land.ru">iev@land.ru</a><br>
Files below are mostly untested. Please, check before use.

<h2>Symbols</h2>
<ul>
<li><a href="symbols/3314J1.sym">3314J1.sym</a></li>
<li><a href="symbols/74VHC541.sym">74VHC541.sym</a></li>
<li><a href="symbols/ABA54563.sym">ABA54563.sym</a></li>
<li><a href="symbols/AD1582.sym">AD1582.sym</a></li>
<li><a href="symbols/AD3PS-1+.sym">AD3PS-1+.sym</a></li>
<li><a href="symbols/AD5310.sym">AD5310.sym</a></li>
<li><a href="symbols/AD5312.sym">AD5312.sym</a></li>
<li><a href="symbols/AD5620.sym">AD5620.sym</a></li>
<li><a href="symbols/AD8130.sym">AD8130.sym</a></li>
<li><a href="symbols/AD8666_1.sym">AD8666_1.sym</a></li>
<li><a href="symbols/AD8666_2.sym">AD8666_2.sym</a></li>
<li><a href="symbols/AD8666.sym">AD8666.sym</a></li>
<li><a href="symbols/AD9248.sym">AD9248.sym</a></li>
<li><a href="symbols/AD9552.sym">AD9552.sym</a></li>
<li><a href="symbols/AD9776.sym">AD9776.sym</a></li>
<li><a href="symbols/AD9779.sym">AD9779.sym</a></li>
<li><a href="symbols/AD9834.sym">AD9834.sym</a></li>
<li><a href="symbols/ADA4932-1.sym">ADA4932-1.sym</a></li>
<li><a href="symbols/ADA4932-2.sym">ADA4932-2.sym</a></li>
<li><a href="symbols/ADCMP600_OPAMP.sym">ADCMP600_OPAMP.sym</a></li>
<li><a href="symbols/ADCMP600.sym">ADCMP600.sym</a></li>
<li><a href="symbols/ADCMP609.sym">ADCMP609.sym</a></li>
<li><a href="symbols/ADG904.sym">ADG904.sym</a></li>
<li><a href="symbols/ADL5602.sym">ADL5602.sym</a></li>
<li><a href="symbols/ADM3202.sym">ADM3202.sym</a></li>
<li><a href="symbols/ADP3330.sym">ADP3330.sym</a></li>
<li><a href="symbols/ADP3335.sym">ADP3335.sym</a></li>
<li><a href="symbols/ADP3338.sym">ADP3338.sym</a></li>
<li><a href="symbols/ADP7104.sym">ADP7104.sym</a></li>
<li><a href="symbols/ADRF6516.sym">ADRF6516.sym</a></li>
<li><a href="symbols/ADRF6820.sym">ADRF6820.sym</a></li>
<li><a href="symbols/agnd.sym">agnd.sym</a></li>
<li><a href="symbols/AN231E04.sym">AN231E04.sym</a></li>
<li><a href="symbols/AT91SAM7X.sym">AT91SAM7X.sym</a></li>
<li><a href="symbols/BMIS107.sym">BMIS107.sym</a></li>
<li><a href="symbols/BNX016.sym">BNX016.sym</a></li>
<li><a href="symbols/BNX025.sym">BNX025.sym</a></li>
<li><a href="symbols/CD40106B.sym">CD40106B.sym</a></li>
<li><a href="symbols/DAT-31R5-SP.sym">DAT-31R5-SP.sym</a></li>
<li><a href="symbols/DBTC-12-4L+.sym">DBTC-12-4L+.sym</a></li>
<li><a href="symbols/EP4CE22E22.sym">EP4CE22E22.sym</a></li>
<li><a href="symbols/EPCS128.sym">EPCS128.sym</a></li>
<li><a href="symbols/EPCS16.sym">EPCS16.sym</a></li>
<li><a href="symbols/EPCS1.sym">EPCS1.sym</a></li>
<li><a href="symbols/EPCS4.sym">EPCS4.sym</a></li>
<li><a href="symbols/EPCS64.sym">EPCS64.sym</a></li>
<li><a href="symbols/GP2S+.sym">GP2S+.sym</a></li>
<li><a href="symbols/header4-2.sym">header4-2.sym</a></li>
<li><a href="symbols/header88-2.sym">header88-2.sym</a></li>
<li><a href="symbols/HF3.sym">HF3.sym</a></li>
<li><a href="symbols/HMC625.sym">HMC625.sym</a></li>
<li><a href="symbols/HMC890.sym">HMC890.sym</a></li>
<li><a href="symbols/HR911105A.sym">HR911105A.sym</a></li>
<li><a href="symbols/HYSTM32.sym">HYSTM32.sym</a></li>
<li><a href="symbols/IPX.sym">IPX.sym</a></li>
<li><a href="symbols/jumper10.sym">jumper10.sym</a></li>
<li><a href="symbols/jumper1.sym">jumper1.sym</a></li>
<li><a href="symbols/jumper2.sym">jumper2.sym</a></li>
<li><a href="symbols/jumper3-2.sym">jumper3-2.sym</a></li>
<li><a href="symbols/jumper3.sym">jumper3.sym</a></li>
<li><a href="symbols/jumper4.sym">jumper4.sym</a></li>
<li><a href="symbols/jumper5.sym">jumper5.sym</a></li>
<li><a href="symbols/jumper6.sym">jumper6.sym</a></li>
<li><a href="symbols/jumper7.sym">jumper7.sym</a></li>
<li><a href="symbols/jumper8.sym">jumper8.sym</a></li>
<li><a href="symbols/jumper9.sym">jumper9.sym</a></li>
<li><a href="symbols/KS8721BL.sym">KS8721BL.sym</a></li>
<li><a href="symbols/KXO-97.sym">KXO-97.sym</a></li>
<li><a href="symbols/LAN8710.sym">LAN8710.sym</a></li>
<li><a href="symbols/LAN8720.sym">LAN8720.sym</a></li>
<li><a href="symbols/LD1117.sym">LD1117.sym</a></li>
<li><a href="symbols/LED_RGB.sym">LED_RGB.sym</a></li>
<li><a href="symbols/LM26480.sym">LM26480.sym</a></li>
<li><a href="symbols/LM3880.sym">LM3880.sym</a></li>
<li><a href="symbols/LMC7101.sym">LMC7101.sym</a></li>
<li><a href="symbols/LMC7660.sym">LMC7660.sym</a></li>
<li><a href="symbols/LMP92018.sym">LMP92018.sym</a></li>
<li><a href="symbols/LP2985.sym">LP2985.sym</a></li>
<li><a href="symbols/LT1964.sym">LT1964.sym</a></li>
<li><a href="symbols/MABA007159.sym">MABA007159.sym</a></li>
<li><a href="symbols/MAX2470.sym">MAX2470.sym</a></li>
<li><a href="symbols/MC33063.sym">MC33063.sym</a></li>
<li><a href="symbols/MCP2562.sym">MCP2562.sym</a></li>
<li><a href="symbols/MSP430F135.sym">MSP430F135.sym</a></li>
<li><a href="symbols/MSP430G2231.sym">MSP430G2231.sym</a></li>
<li><a href="symbols/NC7WZ07.sym">NC7WZ07.sym</a></li>
<li><a href="symbols/NCP5005.sym">NCP5005.sym</a></li>
<li><a href="symbols/NFA31G.sym">NFA31G.sym</a></li>
<li><a href="symbols/NT3225SA.sym">NT3225SA.sym</a></li>
<li><a href="symbols/NUP2105.sym">NUP2105.sym</a></li>
<li><a href="symbols/OV7670.sym">OV7670.sym</a></li>
<li><a href="symbols/RFSW6042.sym">RFSW6042.sym</a></li>
<li><a href="symbols/SHIELD.sym">SHIELD.sym</a></li>
<li><a href="symbols/SMA.sym">SMA.sym</a></li>
<li><a href="symbols/STM32F102CXT6.sym">STM32F102CXT6.sym</a></li>
<li><a href="symbols/STM32F407VXTY.sym">STM32F407VXTY.sym</a></li>
<li><a href="symbols/STM32F407ZXTY.sym">STM32F407ZXTY.sym</a></li>
<li><a href="symbols/TL431.sym">TL431.sym</a></li>
<li><a href="symbols/TLP521_1.sym">TLP521_1.sym</a></li>
<li><a href="symbols/TM1-6.sym">TM1-6.sym</a></li>
<li><a href="symbols/TMR3.sym">TMR3.sym</a></li>
<li><a href="symbols/TPS60403.sym">TPS60403.sym</a></li>
<li><a href="symbols/TPS61080.sym">TPS61080.sym</a></li>
<li><a href="symbols/TPS7A4901.sym">TPS7A4901.sym</a></li>
<li><a href="symbols/TS555.sym">TS555.sym</a></li>
<li><a href="symbols/TXB0104PWR.sym">TXB0104PWR.sym</a></li>
<li><a href="symbols/USB6B1.sym">USB6B1.sym</a></li>
<li><a href="symbols/USB.sym">USB.sym</a></li>
<li><a href="symbols/USRWIFI.sym">USRWIFI.sym</a></li>
<li><a href="symbols/vcc.sym">vcc.sym</a></li>
<li><a href="symbols/YC124.sym">YC124.sym</a></li>
<li><a href="symbols/connector/header4-2.sym">header4-2.sym</a></li>
<li><a href="symbols/connector/header88-2.sym">header88-2.sym</a></li>
<li><a href="symbols/connector/HR911105A.sym">HR911105A.sym</a></li>
<li><a href="symbols/connector/jumper10.sym">jumper10.sym</a></li>
<li><a href="symbols/connector/jumper1.sym">jumper1.sym</a></li>
<li><a href="symbols/connector/jumper2.sym">jumper2.sym</a></li>
<li><a href="symbols/connector/jumper3-2.sym">jumper3-2.sym</a></li>
<li><a href="symbols/connector/jumper3.sym">jumper3.sym</a></li>
<li><a href="symbols/connector/jumper4.sym">jumper4.sym</a></li>
<li><a href="symbols/connector/jumper5.sym">jumper5.sym</a></li>
<li><a href="symbols/connector/jumper6.sym">jumper6.sym</a></li>
<li><a href="symbols/connector/jumper7.sym">jumper7.sym</a></li>
<li><a href="symbols/connector/jumper8.sym">jumper8.sym</a></li>
<li><a href="symbols/connector/jumper9.sym">jumper9.sym</a></li>
<li><a href="symbols/connector/USB.sym">USB.sym</a></li>
</ul>

<h2>Footprints</h2>
<ul>
<li><a href="footprints/10MQ060N.fp">10MQ060N.fp</a></li>
<li><a href="footprints/30BQ060.fp">30BQ060.fp</a></li>
<li><a href="footprints/3314J1.fp">3314J1.fp</a></li>
<li><a href="footprints/5GSH9.fp">5GSH9.fp</a></li>
<li><a href="footprints/AD3PS-1+.fp">AD3PS-1+.fp</a></li>
<li><a href="footprints/B2P.fp">B2P.fp</a></li>
<li><a href="footprints/B3P.fp">B3P.fp</a></li>
<li><a href="footprints/B82477G4.fp">B82477G4.fp</a></li>
<li><a href="footprints/BMIS107.fp">BMIS107.fp</a></li>
<li><a href="footprints/BNX016.fp">BNX016.fp</a></li>
<li><a href="footprints/CDRH2D.fp">CDRH2D.fp</a></li>
<li><a href="footprints/CDRH3D.fp">CDRH3D.fp</a></li>
<li><a href="footprints/CDRH4D.fp">CDRH4D.fp</a></li>
<li><a href="footprints/CDRH6D.fp">CDRH6D.fp</a></li>
<li><a href="footprints/DBTC-12-4L+.fp">DBTC-12-4L+.fp</a></li>
<li><a href="footprints/EQFP144_20.fp">EQFP144_20.fp</a></li>
<li><a href="footprints/FX10B80P.fp">FX10B80P.fp</a></li>
<li><a href="footprints/GP1183A01B.fp">GP1183A01B.fp</a></li>
<li><a href="footprints/HF3.fp">HF3.fp</a></li>
<li><a href="footprints/HR911105A.fp">HR911105A.fp</a></li>
<li><a href="footprints/HYSTM32.fp">HYSTM32.fp</a></li>
<li><a href="footprints/IPX.fp">IPX.fp</a></li>
<li><a href="footprints/IT1158.fp">IT1158.fp</a></li>
<li><a href="footprints/KX26.fp">KX26.fp</a></li>
<li><a href="footprints/KX38.fp">KX38.fp</a></li>
<li><a href="footprints/KXO-97.fp">KXO-97.fp</a></li>
<li><a href="footprints/LED0605.fp">LED0605.fp</a></li>
<li><a href="footprints/LFCSP_WD8_3_EP.fp">LFCSP_WD8_3_EP.fp</a></li>
<li><a href="footprints/MABA007159.fp">MABA007159.fp</a></li>
<li><a href="footprints/NFA31G.fp">NFA31G.fp</a></li>
<li><a href="footprints/NT3225SA.fp">NT3225SA.fp</a></li>
<li><a href="footprints/PE050.fp">PE050.fp</a></li>
<li><a href="footprints/PWL2.fp">PWL2.fp</a></li>
<li><a href="footprints/PWL3.fp">PWL3.fp</a></li>
<li><a href="footprints/QFN10_3_EP.fp">QFN10_3_EP.fp</a></li>
<li><a href="footprints/QFN12_2_EP.fp">QFN12_2_EP.fp</a></li>
<li><a href="footprints/QFN12_3_EP.fp">QFN12_3_EP.fp</a></li>
<li><a href="footprints/RFC30F.fp">RFC30F.fp</a></li>
<li><a href="footprints/S1D.fp">S1D.fp</a></li>
<li><a href="footprints/SMA.fp">SMA.fp</a></li>
<li><a href="footprints/SOT25_12345.fp">SOT25_12345.fp</a></li>
<li><a href="footprints/SSG.fp">SSG.fp</a></li>
<li><a href="footprints/TB01A.fp">TB01A.fp</a></li>
<li><a href="footprints/TM1-6.fp">TM1-6.fp</a></li>
<li><a href="footprints/TMR3.fp">TMR3.fp</a></li>
<li><a href="footprints/USB_B.fp">USB_B.fp</a></li>
<li><a href="footprints/USRWIFI.fp">USRWIFI.fp</a></li>
<li><a href="footprints/WF2.fp">WF2.fp</a></li>
<li><a href="footprints/YC124.fp">YC124.fp</a></li>
</ul>

Last update: 2016-04-13

<!--#include virtual="/trailer.html" -->

