<!--#set var="title" value="David Griffith" -->
<!--#include virtual="/header.html" -->

David Griffith <br>
<!--email: <a href="mailto:davidgriffith@amc.org">davidgriffith@acm.org</a><br> -->
email: <a 
href="mailto:dave@661.org">dave@661.org</a><br>
web: <a href="http://661.org/">http://661.org/</a><br>

<p>
If you ever wonder where that big list of standard footprints is, it's 
<a href="http://www.gedasymbols.org/footprints/m4lib.cgi?geda">here.</a>

<h2>Gschem Schematic Symbols</h2>
<p>
These symbols were created for past projects and are considered reliable.

<h3>Power</h3>
<ul>
<li> <a href="symbols/2.2V-plus-1.sym">2.2 volts positive.</a>
<li> <a href="symbols/2.2V-minus-1.sym">2.2 volts negative.</a>
<li> <a href="symbols/3V-plus-1.sym">3 volts positive.</a>
<li> <a href="symbols/3V-minus-1.sym">3 volts negative.</a>
<li> <a href="symbols/4.5V-plus-1.sym">4.5 volts positive.</a>
<li> <a href="symbols/4.5V-minus-1.sym">4.5 volts negative.</a>
<li> <a href="symbols/8V-plus-1.sym">8 volts positive.</a>
<li> <a href="symbols/8V-minus-1.sym">8 volts negative.</a>
<li> <a href="symbols/10V-plus-1.sym">10 volts positive.</a>
<li> <a href="symbols/10V-minus-1.sym">10 volts negative.</a>
<li> <a href="symbols/15V-plus-1.sym">15 volts positive.</a>
<li> <a href="symbols/15V-minus-1.sym">15 volts negative.</a>
<li> <a href="symbols/920V-plus-1.sym">920 volts positive.</a>
<li> <a href="symbols/920V-minus-1.sym">920 volts negative.</a>
</ul>


<h3>Semiconductors</h3>
<ul>
<li> <a href="symbols/sn75150.sym">SN75150 dual line driver.</a>
<li> <a href="symbols/sn75154.sym">SN75154 quad line receiver.</a>
<li> <a href="symbols/74590-1.sym">74590 8-bit binary counter.</a>
<li> <a href="symbols/lm7808-1.sym">lm7808 8V+ voltage regulator.</a>
<li> <a href="symbols/MOS_6581.sym">MOS 6581 SID sound chip.</a>
<li> <a href="symbols/pokey-1.sym">Atari POKEY sound chip.</a>
<li> <a href="symbols/16v8-1.sym">16v8 programmable logic.</a>
<li> <a href="symbols/20v8-1.sym">20v8 programmable logic.</a>
<li> <a href="symbols/2n3392-1.sym">2n3392 NPN general purpose amplifier transistor.</a>
<li> <a href="symbols/2n4091-1.sym">2n4091 N-Channel JFET.</a>
<li> <a href="symbols/2n4126-1.sym">2n4058 PNP general purpose signal amplifier transistor.</a>
<li> <a href="symbols/2n4126-1.sym">2n4126 PNP general purpose amplifier transistor.</a>
<li> <a href="symbols/2n4124-1.sym">2n4124 NPN general purpose amplifier transistor.</a>
<li> <a href="symbols/dac08-1.sym">8-bit, high speed multiplying D/A converter.</a>
<li> <a href="symbols/lm13700-1.sym">LM13700 Dual Operational Transconductance Amplifier with Linearizing Diodes and Buffers.</a>
<li> <a href="symbols/mpsu05-1.sym">MPSU-05 PNP High Voltage Amplifier.</a>
<li> <a href="symbols/mpsu55-1.sym">MPSU-55 PNP High Voltage Amplifier.</a>
<li> <a href="symbols/tl084-1.sym">TL084 JFET-Input Opamp.</a>
<li> <a href="symbols/fms6400-1.sym">FM6400 Dual Channel Video Driver with Integrated Filters and Composite Video Summer.</a>
</ul>

<h4>Texas Instruments</h4>
<ul>
<li> <a href="symbols/sn75240-1.sym">SN75240 USB Port Transient Suppressors.</a>
<li> <a href="symbols/tusb2046.sym">TUSB2046 4-Port Full Speed USB Hub.</a>
<li> <a href="symbols/tps2041-1.sym">TPS2041 Current-Limited Power Distribution Switches.</a>
<li> <a href="symbols/tps2044-1.sym">TPS2044 Current-Limited Power Distribution Switches.</a>
<li> <a href="symbols/tps7613x-1.sym">TPS7613x Low Power Low Dropout Voltage Regulator.</a>
</ul>


<h3>Switches</h3>
<ul>
<li> <a href="symbols/4PDT-1.sym">4PDT Quad Two-Way Switch.</a>
<li> <a href="symbols/4PDT-2.sym">4PDT Quad Two-Way Switch (slots).</a>
<li> <a href="symbols/rot3P4P-1.sym">Electroswitch 3P4T Rotary Switch.</a>
</ul>


<h3>Title Blocks</h3>
<ul>
<li> <a href="symbols/title-dg-1.sym">A titleblock that doesn't crowd the workspace.</a>
</ul>


<h3>Misc</h3>
<ul>
<li> <a href="symbols/ammeter-1.sym">A basic ammeter.</a>
<li> <a href="symbols/voltmeter-1.sym">A basic voltmeter.</a>
<li> <a href="symbols/Xicon_42TM-1.sym">Xicon 42TM series transformers.</a>
<li> <a href="symbols/header6-1.sym">A 6-conductor two-row header. Anticlockwise pin numbering.</a>
<li> <a href="symbols/header6-2.sym">A 6-conductor two-row header. Left-to-right pin numbering.</a>
<li> <a href="symbols/mini-rpack4-1.sym">4-resistor version of the standard isolated resistor pack.</a>

</ul>


<h3>Probationary Gschem Schematic Symbols</h3>
<p>
These symbols are being used in the first project for which they were 
made, and therefore may change without notice.
<p>
<ul>
<li> <a href="symbols/cap-gang-1.sym">Ganged variable capacitor (for radio use)</a>
<li> <a href="symbols/ir_reflect-1.sym">Reflective optical sensor (four pins)</a>
<li> <a href="symbols/ir_reflect-2.sym">Reflective optical sensor (three pins)</a>
<li> <a href="symbols/mcp170x-regulator.sym">Microchip MCP170X LDO voltage regulator in TO92</a>
</ul>


<h2>PCB Footprints</h2>

<h3>Scripts</h3>
Some footprints here are generated using John C. Luciani Jr's 
<a href="http://www.luciani.org/geda/pcb/pcb-perl-library.html">footprint 
creation script library</a>.  
<ul>
<li><a href="scripts/R025_vert.pl">R025_vert.pl</a> 0.25W resistor mounted vertically.
<li><a href="scripts/rotaryswitch-3p4p.pl">rotaryswitch-3p4p.pl</a>
<li><a href="scripts/bourns_3266-3296.pl">bourns_3266-3296.pl</a> Generates footprints for all varieties of Bourns 3266 series trimmer potentiometers.
</ul>


<h3>Stable PCB Footprints</h3>
<ul>
<li><a href="footprints/PAD-L.fp">PAD-L.fp</a> Single Large Terminal
<li><a href="footprints/R025_vert.fp">R025_vert.fp</a> 0.25W resistor mounted vertically.
<li><a href="footprints/IND__Xicon_42IF-Series.fp"> IND__Xicon_42IF-Series.fp</a>Xicon 42IF series Intermediate Frequency transformer.
<li><a href="footprints/HP48M.fp">HP48M.fp</a> HP48 memory card edge.
<li><a href="footprints/ACY1300P.fp">ACY1300P.fp</a> Axial polar component (typically capacitor)
<li><a href="footprints/D500.fp">D500.fp</a> 500-mil spaced diode (1N5818 or similar)
</ul>

<h3>Probationary PCB Footprints</h3>

<ul>
<li><a href="footprints/POT_BOURNS_3386P.fp">POT_BOURNS_3386P.fp</a> 3/8" Bournes 3386P trimmer.
<li><a href="footprints/CAP__BC88-B540.fp">CAP__BC88-B540.fp</a> Miniature Poly-film Variable Tuning Capacitor For AM & FM Bands.  See <a href="http://www.oselectronics.com/ose_p98.htm">this page</a> for the exact part.
<li><a href="footprints/SWITCH_ROT__Electroswitch_C5_3P4P.fp"> SWITCH_ROT__Electroswitch_C5_3P4P.fp</a> Electroswitch C5 / C6 series 3-pole rotary switch.
<li><a href="footprints/VISHAY_TCRT1000.fp">VISHAY_TCRT1000.fp</a> Vishay TCRT1000 reflective optical sensor.
<li><a href="footprints/HONEYWELL_HLC1395.fp">HONEYWELL_HLC1395.fp</a> Honeywell HLC1395 series reflective optical sensor.
<li><a href="footprints/CTS-742-8pin-1.fp">CTS-742-8pin-1.fp</a> CTS Series 742 chip resistor array 8-pins.

</ul>

<p>
Page version $Id: index.html,v 1.82 2013/01/02 06:41:14 david_griffith Exp $


<!--#include virtual="/trailer.html" -->
