<!--#set var="title" value="PCB footprints" -->
<!--#include virtual="/header.html" -->
<!-- $Id: index.html,v 1.1 2006/03/14 03:59:18 dan_mcmahill Exp $ -->
PCB Project <br>
homepage: <a href="http://pcb.sourceforge.net/">pcb.sourceforge.net</a> <br>

<h2>Tools</h2>

<h2>Documentation</h2>

<h2>Symbols</h2>

<h2>Footprints</h2>

<p>The footprint libraries contained here are those from the official
PCB distribution.</p>

<p>Note: all these footprints are licensed GPL for distribution, and unlimited for use.</p>


<h3>M4 Libraries</h3>
<ul>
<!--#include virtual="./m4lib.cgi" -->
</ul>

<h3>Newlib Libraries</h3>
<ul>
<!--#include virtual="./newlib.cgi" -->
</ul>

<!--#include virtual="/trailer.html" -->
