<!--#set var="title" value="John Doty" -->
<!--#include virtual="/header.html" -->

<h2>Checking for pin/refdes duplicates</h2>

<li> <a href="gnet-check-duplicates.scm" download>gnet-check-duplicates.scm</a>

<h3>Usage</h3>
<p><b>gnetlist -g check-duplicates</b> <i>other-gnetlist-arguments</i></p>

<p>This gnetlist back end finds duplicated refdes-pinnumber pairs. It emits a list of the duplicates to the standard error output. It yields an exit code of 1 if it has found any duplicates. Duplicates generally cause trouble for netlist generators, so this is a good check to run before you generate a netlist. Common causes of duplicates include erroneously duplicated refdes attributes, erroneously duplicated pinnumber attributes on a symbol, duplicate slots, and other errors in constructing composite devices from split symbols.</p>

<p>You can also use this code from within another back end. Load the code using</p>
<p><b>(load-from-path "gnet-check-duplicates.scm")</b></p>
<p>Then, the expression:</p>
<p><b>(find-duplicates (every-connection))</b></p>
<p>will yield the list of duplicates.</p>
