<!--#set var="title" value="John Doty" -->
<!--#include virtual="/header.html" -->

<h2>Checking pin counts</h2>

<li> <a href="gnet-check-pincount.scm" download>gnet-check-pincount.scm</a>

<h3>Usage</h3>
<p><b>gnetlist -g check-pincount</b> <i>other-gnetlist-arguments</i></p>

<p>This gnetlist back end checks that the number of pins on the package matches the intended number. It logs mismatches to the standard error output. It yields an exit code of 1 if it has found any mismatches. The pins on the package include both visible and hidden pins on the symbol(s) with the package's refdes. Unconnected pins count, but pins that are not present in the symbol(s) don't. It deduces the intended number from the following attributes:
</p>

<li><b>pins-used=</b><i>n</i></li>
<p>If <b>pins-used</b> is present, it has precedence. Use it when you don't have a symbol pin for each footprint pin.</p>

<li><b>pins=</b><i>n</i></li>
<p>If <b>pins</b> is present, it should represent the number of pins on the footprint. Some standard gEDA symbols have this attribute.</p>

<li><b>footprint=</b><i>n</i></li>
<p>If neither <b>pins-used</b> nor <b>pins</b> is present, <b>check-duplicates</b> can extract the pin count from most standard gEDA footprint names.</p>

<h3>Adding your own footprints</h3>
<p>You may create one or more files of additional footprint information. Load them using the <b>-m</b> flag in your <b>gnetlist</b> command. Use the Scheme <b>footprint-pins-prefix</b> function to specify your footprints. There are two forms:</p>
<li><b>(footprint-pins-prefix "</b><i>prefix</i><b>"</b> <i>n</i><b>)</b></li>
<p>If you give an explicit pin count <i>n</i>, <b>check-pincount</b> uses that for every package whose name starts with the given prefix.</p>
<li><b>(footprint-pins-prefix "</b><i>prefix</i><b>")</b></li>
<p>Without an explicit pin count <i>n</i>, <b>check-pincount</b> assumes that a decimal numeric field follows the prefix in the footprint name, as in e.g. "DIP14" for prefix "DIP".</p>

<p>Later (footprint-pins-prefix) commands override earlier ones. Your commands loaded with <b>-m</b> override those built in to <b>check-pincount</b>.</p>

<h3>Using this code in other back ends</h3>
<p>You can also use this code from within another back end. Load the code using</p>
<p><b>(load-from-path "gnet-check-pincount.scm")</b></p>

<p>Possibly useful functions include:</p>
<li><b>(get-package-pincount </b><i>refdes</i><b>)</b></li>

<p>This yields the number of pins on the package <i>refdes</i>, in the form of a character string. It first looks for a <b>pins</b> attribute. If that's not present, it attempts to use the <b>footprint</b> attribute (see above). If that doesn't work, it counts connected pins. This is useful for back ends that write netlist formats that include a pin count.</p>

<li><b>(pins-from-footprint </b><i>footprint</i><b>)</b></li>
<p>This yields the number of pins associated with the <i>footprint</i>, in the form of a character string. It yields <b>#f</b> if the footprint's prefix is not defined (see above).</p>