<!--#set var="title" value="John Doty" -->
<!--#include virtual="/header.html" -->

<h2>Make a djboxsym description file for a hierarchical symbol</h2>

<li> <a href="gnet-djboxsym.scm" download>gnet-djboxsym.scm</a>

<h3>Usage</h3>
<p><b>gnetlist -g djboxsym</b> <i>subcircuit-schematics other-gnetlist-arguments</i></p>

<p>This gnetlist back end creates a symbol definition file from the schematics of a hierarchical subcircuit. Use its output as input for <a href="../../dj_delorie/tools/djboxsym.html">djboxsym</a> to create a symbol representing the subcircuit.</p>
