<!--#set var="title" value="Lawrence Hallman" -->
<!--#include virtual="/header.html" -->

Lawrence Hallman <br>
email: lawrence.hallman|at|micro-macro.net <br>

<p>Note: all my symbols are licensed GPL for distribution, and unlimited for use.</p>

<h2>Symbols</h2>

<!--#include file="symbols.html" -->

<h2>Footprints</h2>

<!--#include file="footprints.html" -->

<!--#include virtual="/trailer.html" -->
