<h4>Analog</h4>
<ul>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Analog/SCR/SCR-1.sym">SCR-1.sym</a> - Silicon Controlled Rectifier<br>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Analog/SCR/SCR-2N5060.sym">SCR-2N5060.sym</a> - Silicon Controlled Rectifier 2N5060<br>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Analog/OpAmp/LM321/LM321-1.sym">LM321-1.sym</a> - LM321 Op Amp - SOT23-5 Package<br>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Analog/Regulator/LM350/LM350-1.sym">LM350-1.sym</a> - LM350 3 Amp voltage Regulator<br>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Analog/NPN/2N2222-EBC-1.sym">2N2222-EBC-1.sym</a> - 2N2222 NPN Transistor - EBC pinout<br>
</ul>
<h4>Digital</h4>
<ul>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Digital/AD_Converter/CA3162E.sym">CA3162E.sym</a> - CA3162E A/D Converter w/ BCD outputs<br>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Digital/TTL/74LS147.sym">74LS147.sym</a> - 74LS147 1-of-10 Decoder/Driver Open-Collector<br>
</ul>
<h4>PIC Microcontroller</h4>
<ul>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Digital/PIC/PIC16F1826_PIC16F1827-PDIP-SOIC.sym">PIC16F1826_PIC16F1827-PDIP-SOIC.sym</a> - Microchip PIC16F1826/27 PDIP/SOIC Configuration<br>
</ul>
<h4>Relays</h4>
<ul>
<li> <a href="http://www.gedasymbols.org/user/lawrence_hallman/symbols/Relays/W172DIP-1.sym">W172DIP-1.sym</a> - Magnecraft W172DIP-1 PCB SPDT Reed Relay<br>
</ul>

