<!--#set var="title" value="John Doty" -->
<!--#include virtual="/header.html" -->

John Doty <br>
<a href="http://noqsi.com/">Noqsi Aerospace Ltd.</a> <br>
email: <a href="mailto:jpd@noqsi.com">jpd@noqsi.com</a> <br>

<h2>Tools</h2>

<h3>Table-based design input</h3>

<p>For connectors and devices with more than 50 pins, I find a conventional schematic to be pretty useless. Often, a tabular representation makes more sense and is more readable. The following scripts manipulate a table of pins into a pseudo-schematic that can be combined with your real schematics to make a netlist, and a LaTeX table for your documentation.</p>

<li> <a href="tools/pins2gsch.html">Turn a table of pins into a pseudo-schematic</a></li>
<li> <a href="tools/pins2tex.html">Turn a table of pins into a LaTeX table</a></li>

<h3>Gnetlist back ends</h3>
<li> <a href="tools/check-duplicates.html">Check schematics for duplicate refdes/pinnumber errors</a></li>
<li> <a href="tools/check-pincount.html">Check schematics for pin count mismatches on packages</a></li>
<li> <a href="tools/gnet-djboxsym.html">Make a djboxsym description file for a hierarchical symbol</a></li>

<h3>Gnetlist plug-ins</h3>

<p>When you have a component that is represented by multiple symbols, gnetlist does not handle conflicting attributes attached to the symbols very well. The following script detects conflicting attributes, generates a warning message, and replaces the conficting attribute values with "attribute_conflict".</p>

<p>Usage:</p>

<p><b>gnetlist -m censor-fix.scm</b> <i>other-gnetlist-arguments</i></p>

<li> <a href="tools/censor-fix.scm" download>censor-fix.scm</a>

<p>For sorting parts lists and such, it is convenient to have the device= attribute in a consistent case. The following script uppercases it.</p>

<p>Usage:</p>

<p><b>gnetlist -m devupper.scm</b> <i>other-gnetlist-arguments</i></p>

<li> <a href="tools/devupper.scm" download>devupper.scm</a>

<h2>Symbols</h2>

<p>Professor Ikeda's 
<a href="http://research.kek.jp/people/ikeda/openIP/">Open-IP</a>
is a collection of subcircuits useful for mixed-signal VLSI design. See "Models" below for the associated models.</p>

<li> <a href="symbols/openIP/02-pads.html">Input/output pads.</a>
<li> <a href="symbols/openIP/03-logic.html">Basic logic circuits.</a>
<li> <a href="symbols/openIP/04-bias.html">Bias circuits.</a>
<li> <a href="symbols/openIP/05-interface.html">Low voltage and current mode interface circuits.</a>

<h2>Models</h2>

<p>Simple, generic <a href="models/opamp/index.html">opamp models</a> for circuit simulation with ngspice (and probably other SPICE dialects).

<p><a href="models/openIP/index.html">Models for Open-IP</a> (see above).

<!--#include virtual="/trailer.html" -->
