<!--#set var="title" value="Tobias Nadler" -->
<!--#include virtual="/header.html" -->

Tobias Nadler<br />
Mail: ot <span>dot</span> an <span>at</span> gmx <span>dot</span> net.<br />

Please consider all data as experimental/untested.
Use at your own risk!

<!--h2>Tools</h2-->

<!--h2>Docs</h2-->

<h2>Symbols</h2>

<p>All of the symbols, that are listed here and not derived from others, are licensed for unlimited use and GPL 2 or 3 (or if you prefer Creative-Commons licenses: <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>) for redistribution.</p>
<p>Microcontroller</p>
<ul>
<li><a href="symbols/atmega164-644.sym">ATmega164/324/644 in 40pin P-DIP package (atmega164-644.sym)</a></li>
<li><a href="symbols/attiny13.sym">ATtiny13 DIP8 or SO8 package (attiny13.sym)</a></li>
<li><a href="symbols/attiny24.sym">ATtiny24/44/84 DIP14 or SO14 package (attiny24.sym)</a></li>
</ul>
<p>DC Voltage Sources</p>
<ul>
<li><a href="symbols/lm2623mm.sym">LM2623: DC/DC Boost Converter (lm2623mm.sym)</a></li>
<li><a href="symbols/lp2950.sym">LP2950: LDO Voltage Regulator (lp2950.sym)</a></li>
<li><a href="symbols/lt1946.sym">LT1946: DC/DC Boost Converter (lt1946.sym)</a></li>
<li><a href="symbols/mic5295.sym">MIC5295: LDO Voltage Regulator (mic5295.sym)</a></li>
</ul>
<p>Connectors</p>
<ul>
<li><a href="symbols/tb2p200.sym">Terminal Block - 2 pin, derived from Ales Hvezda's symbol, just modified footprint (tb2p200.sym)</a></li>
<li><a href="symbols/tb3p200.sym">Terminal Block - 3 pin, derived from Ales Hvezda's symbol, just modified footprint (tb3p200.sym)</a></li>
<li><a href="symbols/tb2p3_5mm.sym">Terminal Block - 2 pin, derived from Ales Hvezda's symbol, just modified footprint (tb2p3_5mm.sym)</a></li>
<li><a href="symbols/tb3p3_5mm.sym">Terminal Block - 3 pin, derived from Ales Hvezda's symbol, just modified footprint (tb3p3_5mm.sym)</a></li>
</ul>
<p>Other</p>
<ul>
<li><a href="symbols/bts4140n.sym">BTS4140N: Smart High-Side Power Switch (bts4140n.sym)</a></li>
<li><a href="symbols/L9637D.sym">L9637D: K/L-line Bus Driver, no GND and Vcc pins (L9637D.sym)</a></li>
<li><a href="symbols/L9637D_allpins.sym">L9637D: K/L-line Bus Driver, includes GND and Vcc pins (L9637D_allpins.sym)</a></li>
<li><a href="symbols/mts62c19a.sym">MTS62C19A: Dual Full-Bridge Motor Driver (mts62c19a.sym)</a></li>
<li><a href="symbols/poti_10mm.sym">Potentiometer, copy of gEDA's &quot;resistor-variable-2&quot;, just with assigned footprint for Piher 10mm (poti_10mm.sym)</a></li>
<li><a href="symbols/schottky-3.sym">Generic Schottky Diode, with cathode at pin 1 (schottky-3.sym)</a></li>
<li><a href="symbols/74LVC1G17.sym">Inverted Schmitt Trigger, single slot in SOT353 or SOT25 package (74LVC1G17.sym)</a></li>
<li><a href="symbols/SNx5176B.sym">SN65176B/SN75176B: RS-485/422 bus transceiver (SNx5176B.sym)</a></li>
</ul>

<h2>Footprints</h2>

<p>All of the footprints, that are listed here and not derived from others, are licensed for unlimited use and GPL 2 or 3 (or if you prefer Creative-Commons licenses: <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>) for redistribution.</p>
<ul>
<li><a href="footprints/CONN_Harting_male_10pin.fp">10-pin connector from Harting (male), de:Wannenstecker/Wannenbuchse (CONN_Harting_male_10pin.fp)</a></li>
<li><a href="footprints/RCY50.fp">50mil Bottom lead non-polar circular component (typically capacitor), derived from RCY100 (RCY50.fp)</a></li>
<li><a href="footprints/RCY50P.fp">50mil Bottom lead polar circular component (typically capacitor), derived from RCY100P (RCY50P.fp)</a></li>
<li><a href="footprints/ELL6xH.fp">Panasonic SMD Choke Coils: Series H, Type ELL6?H (ELL6xH.fp)</a></li>
<li><a href="footprints/KM40.fp">Pulse PE-xxxx Coils, Package KM-4.0 (KM40.fp)</a></li>
<li><a href="footprints/SOT353.fp">5-pin SOT-353 Package (SOT353.fp)</a></li>
<li><a href="footprints/TO252_5L.fp">5-pin TO-252 Package, horizontal (TO252_5L.fp)</a></li>
<li><a href="footprints/TO252_5S.fp">5-pin TO-252 Package, vertical (TO252_5S.fp)</a></li>
<li><a href="footprints/TO263_5L.fp">5-pin TO-263 Package, horizontal (TO263_5L.fp)</a></li>
<li><a href="footprints/tblock-200mil-2.fp">2-pin Terminal Block, derived from DJ Delorie's <i>tblock-200mil-3</i>; license see file (tblock-200mil-2.fp)</a></li>
<li><a href="footprints/tblock-3.5mm-2.fp">2-pin Terminal Block (tblock-3.5mm-2.fp)</a></li>
<li><a href="footprints/tblock-3.5mm-3.fp">3-pin Terminal Block (tblock-3.5mm-3.fp)</a></li>
<li><a href="footprints/PISR-xxxM-04.fp">PISR-???M-04 Inductor, derived from Kai-Martin Knaak's <i>FASTRON_PISR</i>; license see file (PISR-xxxM-04.fp)</a></li>
<li><a href="footprints/SLF12565.fp">SLF-12565 Coil, SMD (SLF12565.fp)</a></li>
<li><a href="footprints/Poti_Piher_PT10.fp">Potentiometer Piher PT-10 (10mm), wiper at pin 3, horizontal (Poti_Piher_PT10.fp)</a></li>
<li><a href="footprints/oslon_ssl.fp">Osram Oslon SSL High-Power LED, SMD (oslon_ssl.fp)</a></li>
</ul>


<!--#include virtual="/trailer.html" -->
