<h4>template pcb</h4>
The <a href="footprints/footprint_template.pcb">footprint_template.pcb</a> may be used to start drawing footpints with the pcb GUI. Layers and sizes are set to reasonable default values.

<h4>generic </h4>
These footprints are meant to supersede the ones from the default library. 
They are designed to meet the requirement of densely populated boards with
too little space to place the refdes or value between the components. Therefore 
the text is placed inside the frame. Pad size is generous for easy manual soldering.
<ul>
   <li> two pad packages</li>
     <ul>
       <li> <a href="footprints/generic/0402.fp"> 0402.fp </a> - 0402 </li>
       <li> <a href="footprints/generic/0402s.fp"> 0402s.fp </a> - 0402 small pads for reflow soldering </li>
       <li> <a href="footprints/generic/0603.fp"> 0603.fp </a> - 0603 </li>
       <li> <a href="footprints/generic/0805.fp"> 0805.fp </a> - 0805 </li>
       <li> <a href="footprints/generic/0805s.fp"> 0805s.fp </a> - 0805 with smaller pads </li>
       <li> <a href="footprints/generic/0805xs.fp"> 0805xs.fp </a> - 0805 with extra small pads for reflow soldering</li>
       <li> <a href="footprints/generic/1206.fp"> 1206.fp </a> - 1206 with refdes/value on the pads </li>
       <li> <a href="footprints/generic/1206.fp"> 1210.fp </a> - 1210 </li>
       <li> <a href="footprints/generic/1812.fp"> 1812.fp </a> - 1812 </li>
     </ul>   

   <li> dual inline packages </li>
     <ul>
       <li> <a href="footprints/generic/DIP/DIP4.fp"> DIP4.fp </a> - dual inline package 4 pin</li>
       <li> <a href="footprints/generic/DIP/DIP6.fp"> DIP6.fp </a> - dual inline package 6 pin</li>
       <li> <a href="footprints/generic/DIP/DIP8.fp"> DIP8.fp </a> - dual inline package 8 pin</li>
       <li> <a href="footprints/generic/DIP/DIP12.fp"> DIP12.fp </a> - dual inline package 12 pin</li>
       <li> <a href="footprints/generic/DIP/DIP14.fp"> DIP14.fp </a> - dual inline package 14 pin</li>
       <li> <a href="footprints/generic/DIP/DIP16.fp"> DIP16.fp </a> - dual inline package 16 pin</li>
       <li> <a href="footprints/generic/DIP/DIP18.fp"> DIP18.fp </a> - dual inline package 18 pin</li>
       <li> <a href="footprints/generic/DIP/DIP20.fp"> DIP20.fp </a> - dual inline package 20 pin</li>
       <li> <a href="footprints/generic/DIP/DIP22.fp"> DIP22.fp </a> - dual inline package 22 pin</li>
       <li> <a href="footprints/generic/DIP/DIP24.fp"> DIP24.fp </a> - dual inline package 24 pin</li>
       <li> <a href="footprints/generic/DIP/DIP24_wide.fp"> DIP24_wide.fp </a> - dual inline package 24 pin, wide</li>
       <li> <a href="footprints/generic/DIP/DIP28.fp"> DIP28.fp </a> - dual inline package 28 pin</li>
       <li> <a href="footprints/generic/DIP/DIP28_wide.fp"> DIP28_wide.fp </a> - dual inline package 28 pin, wide</li>
       <li> <a href="footprints/generic/DIP/DIP32_wide.fp"> DIP32_wide.fp </a> - dual inline package 32 pin, wide</li>
       <li> <a href="footprints/generic/DIP/DIP36_wide.fp"> DIP36_wide.fp </a> - dual inline package 36 pin, wide</li>
       <li> <a href="footprints/generic/DIP/DIP40_wide.fp"> DIP40_wide.fp </a> - dual inline package 40 pin, wide</li>
       <li> <a href="footprints/generic/DIP/DIP48_wide.fp"> DIP48_wide.fp </a> - dual inline package 48 pin, wide</li>
     </ul>

   <li> power packages </li>
     <ul>
       <li> <a href="footprints/generic/DPAK.fp"> DPAK.fp </a> - DPAK aka TO252, used by transistors and regulators</li>
       <li> <a href="footprints/generic/DPAK_GDS.fp"> DPAK_GDS.fp </a> - DPAK pins as used by power MOSFETs like IRL5602</li>
       <li> <a href="footprints/generic/PENTAWATTV.fp"> PENTAWATTV.fp </a> - Five-Pin Package similar to TO220. (TDA2030, L165, LP3856, ...)</li>
       <li> <a href="footprints/generic/PENTAWATTV_LAY_2.fp"> PENTAWATTV_LAY_2.fp </a> - Same as above, horizontally on the board</li>
       <li> <a href="footprints/generic/PENTAWATTV_LAY.fp"> PENTAWATTV_LAY.fp </a> - Same as above, horizontally off the board</li>
     </ul>

   <li> QSOP </li>
     <ul>
       <li> <a href="footprints/generic/QSOP14.fp"> QSOP14.fp </a> - </li>
       <li> <a href="footprints/generic/QSOP16.fp"> QSOP16.fp </a> - </li>
     </ul>

   <li>SO packages </li>
     <ul>
       <li> <a href="footprints/generic/SO8.fp"> SO8.fp </a> - </li>
       <li> <a href="footprints/generic/SO8_78Lxx.fp"> SO8_78Lxx.fp </a> - 8-pin version of fixed positive voltage regulator</li>
       <li> <a href="footprints/generic/SO8_79Lxx.fp"> SO8_79Lxx.fp </a> - 8-pin version of fixed negative voltage regulator</li>
       <li> <a href="footprints/generic/SO8_LM317.fp"> SO8_LM317.fp </a> - 8-pin version of variable positive voltage regulator</li>
       <li> <a href="footprints/generic/SO8_LM337.fp"> SO8_LM337.fp </a> - 8-pin version of variable negative voltage regulator</li>
       <li> <a href="footprints/generic/SO8_FET.fp"> SO8_FET.fp </a> SO8 for power MOSFETs</li>
       <li> <a href="footprints/generic/SO14.fp"> SO14.fp </a> - SO14, narrow </li>
       <li> <a href="footprints/generic/SO16.fp"> SO16.fp </a> - SO16, narrow </li>
       <li> <a href="footprints/generic/SO16W.fp"> SO16W.fp </a> - SO16W, wide </li>
       <li> <a href="footprints/generic/SO20.fp"> SO20.fp </a> - SO20, narrow </li>
       <li> <a href="footprints/generic/SO20W.fp"> SO20W.fp </a> - SO20, wide </li>
       <li> <a href="footprints/generic/SO24W.fp"> SO24W.fp </a> - SO24W, wide </li>
       <li> <a href="footprints/generic/SO28W.fp"> SO28W.fp </a> - SO28, wide </li>
     </ul>

   <li> SOT packages </li>
     <ul>
       <li> <a href="footprints/generic/SOT223.fp"> SOT223.fp </a> - SOT223, footprint for power transistors </li>
       <li> <a href="footprints/generic/SOT23.fp"> SOT23.fp </a> - generic SOT23 footprint</li>
       <li> <a href="footprints/generic/SOT23_BEC.fp"> SOT23_BEC.fp </a> - SOT23 footprint for bipolar transistors</li>
       <li> <a href="footprints/generic/SOT23_GSD.fp"> SOT23_GSD.fp </a> - SOT23 footprint for FETs, pinout gate-drain-source</li>
       <li> <a href="footprints/generic/SOT23_SDG.fp"> SOT23_SDG.fp </a> - SOT23 footprint for FETs, pinout source-drain-gate </li>
       <li> <a href="footprints/generic/SOT343.fp"> SOT343.fp </a> - SOT343, footprint used by MMIC BGA427 or BGA420 </li>
       <li> <a href="footprints/generic/SOT363.fp"> SOT363.fp </a> - SOT363, footprint used by MMIC MGA62563 </li>
       <li> <a href="footprints/generic/SOT886.fp"> SOT886.fp </a> - SOT886 akka XSON6. 6 pins, no leads, 0.5 mm pitch, used for analog switches </li>
       <li> <a href="footprints/generic/SOT89.fp"> SOT89.fp </a> - three pad footprint used by regulators </li>
       <li> <a href="footprints/generic/SOT89_78LxxA.fp"> SOT_78LxxA.fp </a> - for some reason, the most prolific SOT89 version of the fixed positive voltage regulator has input and output swapped.</li>
       <li> <a href="footprints/generic/SOT89_79Lxx.fp"> SOT_79Lxx.fp </a> - SOT89 version of the fixed negative voltage regulator.</li>
       <li> <a href="footprints/generic/SOT89_LM317.fp"> SOT_LM317.fp </a> - SOT89 version of the variable positive voltage regulator.</li>
     </ul>

   <li> TO packages </li>
     <ul>
       <li> <a href="footprints/generic/TO126_ECB.fp"> TO126_ECB.fp </a> - </li>
       <li> <a href="footprints/generic/TO18.fp"> TO18.fp </a> - three pin metal case, used for laser diodes</li>
       <li> <a href="footprints/generic/TO220.fp"> TO220.fp </a> - TO220 footprint, generic pinout</li>
       <li> <a href="footprints/generic/TO220_LAY.fp"> TO220_LAY.fp </a> - TO220 footprint, generic pinot, srcewed to the board</li>
       <li> <a href="footprints/generic/TO220_ECB.fp"> TO220_ECB.fp </a> - TO220 for bipolar transistors </li>
       <li> <a href="footprints/generic/TO220_ECB_LAY.fp"> TO220_ECB_LAY.fp </a> - TO220 for bipolar transistors, srewed to the board</li>
       <li> <a href="footprints/generic/TO220_bighole.fp"> TO220_bighole.fp </a> - TO220 with large holes to completely sink the component</li>
       <li> <a href="footprints/generic/TO220_GDS.fp"> TO220_GDS.fp </a> - TO220 for MOSFETs, pinout gate-drain-source </li>
       <li> <a href="footprints/generic/TO220_GDS_LAY.fp"> TO220_GDS_LAY.fp </a> - TO220 for MOSFETs, pinout gate-drain-source, srewed to the board </li>
       <li> <a href="footprints/generic/TO220_block.fp"> TO220_block.fp </a> - TO220 mounted to a 15x32 mm cooling block </li>
       <li> <a href="footprints/generic/TO247.fp"> TO247.fp </a> - medium size three pin package with heatsink</li>
       <li> <a href="footprints/generic/TO247_2.fp"> TO247_2.fp </a> - same as above, but large pin holes</li>
       <li> <a href="footprints/generic/TO247_LAY.fp"> TO247_LAY.fp </a> - medium size three pin package with heatsink, horizontal mount</li>
       <li> <a href="footprints/generic/TO247_GDS_LAY.fp"> TO247_GDS_LAY.fp </a> - TO247 for MOSFETs, pinout gate-drain-source, horizontal mount </li>
       <li> <a href="footprints/generic/TO247_GCE_LAY.fp"> TO247_GCE_LAY.fp </a> - TO247 for IGBTs, pinout gate-collector-emitter, horizontal mount</li>
       <li> <a href="footprints/generic/TO247_2PIN.fp"> TO247_2PIN.fp </a> - TO247 with only two pins, used for power resistors</li>
       <li> <a href="footprints/generic/TO247_2PIN_2.fp"> TO247_2PIN_2.fp </a> - two pin TO247, large holes to completely sink the pins</li>
       <li> <a href="footprints/generic/TO247_2PIN_LAY.fp"> TO247_2PIN_LAY.fp </a> - two pin TO247, horizontal mount</li>
       <li> <a href="footprints/generic/TO252.fp"> TO252.fp </a> - TO252 aka DPAK, used by transistors and regulators.</li>
       <li> <a href="footprints/generic/TO92_123.fp"> TO92_123.fp </a>  - TO92, generic pinout, elongated pads on solder layer</li>
       <li> <a href="footprints/generic/TO92_ECB.fp"> TO92_ECB.fp </a> - TO92 for bipolar transistors, pinout emitter-collector-base</li>
       <li> <a href="footprints/generic/TO92_GDS.fp"> TO92_GDS.fp </a> - TO92 for FET transistors, pinout gate-drain-source</li>
       <li> <a href="footprints/generic/TO92_DGS.fp"> TO92_DGS.fp </a> - TO92 for FET transistors, pinout drain-gate-source</li>
     </ul>
   
   <li>TQFP</li>
     <ul>
       <li> <a href="footprints/generic/TQFP32-08.fp"> TQFP32-08.fp </a> - TQFP, 32 pin, 0.8 mm pitch</li>
       <li> <a href="footprints/generic/TQFP44-05.fp"> TQFP44-05.fp </a> - TQFP, 44 pin, 0.5 mm pitch</li>
       <li> <a href="footprints/generic/TQFP44-08.fp"> TQFP44-08.fp </a> - TQFP, 44 pin, 0.8 mm pitch, fits ATXmega-A4</li>
       <li> <a href="footprints/generic/TQFP64-08.fp"> TQFP64-08.fp </a> - TQFP, 64 pin, 0.8 mm pitch, fits ATXmega-A3</li>
       <li> <a href="footprints/generic/TQFP100-05.fp"> TQFP100-05.fp </a> - TQFP, 100 pin, 0.5 mm pitch, fits ATXmega-A1</li>
     </ul>
   <li> <a href="footprints/generic/TSOP6.fp"> TSOP6.fp </a> - TSOP6, footprint for analog switches </li>
</ul>

<h4>pin headers</h4>
<ul>
   <li> <a href="footprints/connectors/pin_headers/1x1PIN.fp"> 1x1PIN.fp </a> - single pin header </li>
   <li> <a href="footprints/connectors/pin_headers/1x2PIN.fp"> 1x2PIN.fp </a> - generic two pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x3PIN.fp"> 1x3PIN.fp </a> - generic three pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x4PIN.fp"> 1x4PIN.fp </a> - generic four pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x5PIN.fp"> 1x5PIN.fp </a> - generic five header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x8PIN.fp"> 1x8PIN.fp </a> - generic eight pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x10PIN.fp"> 1x10PIN.fp </a> - generic ten pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x12PIN.fp"> 1x12PIN.fp </a> - generic twelve pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x14PIN.fp"> 1x14PIN.fp </a> - generic thirteen pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x16PIN.fp"> 1x16PIN.fp </a> - generic fourteen pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/1x18PIN.fp"> 1x18PIN.fp </a> - generic eighteen pin header, 2.54 mm pitch </li>
   <li> <a href="footprints/connectors/pin_headers/2x3PIN.fp"> 2x3PIN.fp </a> - generic header 6 pins </li>
   <li> <a href="footprints/connectors/pin_headers/2x3PIN_b.fp"> 2x3PIN_b.fp </a> - generic header 6 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x3PIN_WSL.fp"> 2x3PIN_WSL.fp </a> - header for crimp connector, 6 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x3PIN_WSL_b.fp"> 2x3PIN_WSL_b.fp </a> - header for crimp connector, 6 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x4PIN.fp"> 2x4PIN.fp </a> - generic header 8 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x4PIN_b.fp"> 2x4PIN_b.fp </a> - generic header 8 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x5PIN.fp"> 2x5PIN.fp </a> - generic header 10 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x5PIN_b.fp"> 2x5PIN_b.fp </a> - generic header 10 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x5PIN_WSL.fp"> 2x5PIN_WSL.fp </a> - header for crimp connector, 10 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x5PIN_WSL_b.fp"> 2x5PIN_WSL_b.fp </a> - header for crimp connector, 10 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x8PIN.fp"> 2x8PIN.fp </a> - generic header 8 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x8PIN_b.fp"> 2x8PIN_b.fp </a> - generic header 8 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x8PIN_WSL.fp"> 2x8PIN_WSL.fp </a> - header for crimp connector, 16 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x8PIN_WSL_b.fp"> 2x8PIN_WSL_b.fp </a> - header for crimp connector, 16 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x16PIN.fp"> 2x16PIN.fp </a> - generic header 32 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x16PIN_b.fp"> 2x16PIN_b.fp </a> - generic header 32 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x13PIN.fp"> 2x13PIN.fp </a> - generic header 26 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x13PIN_b.fp"> 2x13PIN_b.fp </a> - generic header 26 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x13PIN_WSL.fp"> 2x13PIN_WSL.fp </a> - header for crimp connector, 26 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x13PIN_WSL_b.fp"> 2x13PIN_WSL_b.fp </a> - header for crimp connector, 26 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x16PIN_WSL.fp"> 2x16PIN_WSL.fp </a> - header for crimp connector, 32 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x16PIN_WSL_b.fp"> 2x16PIN_WSL_b.fp </a> - header for crimp connector, 32 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x20PIN_PSL.fp"> 2x20PIN_PSL.fp </a> - header with interlocking, 40 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x20PIN_PSL_b.fp"> 2x20PIN_PSL_b.fp </a> - header with interlocking, 40 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x20PIN_WSL.fp"> 2x20PIN_WSL.fp </a> - header for crimp connector, 40 pins</li>
   <li> <a href="footprints/connectors/pin_headers/2x20PIN_WSL_b.fp"> 2x20PIN_WSL_b.fp </a> - header for crimp connector, 40 oblong pins</li>
   <li> <a href="footprints/connectors/pin_headers/AKL_2PIN.fp"> AKL_2PIN.fp </a> - modular terminal, 5 mm pitch, 2 pins</li>
   <li> <a href="footprints/connectors/pin_headers/AKL_3PIN.fp"> AKL_3PIN.fp </a> - modular terminal, 5 mm pitch, 3 pins</li>
   <li> <a href="footprints/connectors/pin_headers/AKL_4PIN.fp"> AKL_4PIN.fp </a> - modular terminal, 5 mm pitch, 4 pins</li>
   <li> <a href="footprints/connectors/pin_headers/AKL_5PIN.fp"> AKL_5PIN.fp </a> - modular terminal, 5 mm pitch, 5 pins</li>
   <li> <a href="footprints/connectors/pin_headers/AMP_4.2mm_header_20pin_lay.fp"> AMP_4.2mm_header_20pin_lay.fp </a> - ATX like power connector, horizontal mount</li>
</ul>

<h4>misc. connectors</h4>
<ul>
   <li> <a href="footprints/connectors/banana-jack.fp"> banana-jack.fp </a> - banana jack connected with a solder lug</li>
   <li> <a href="footprints/connectors/LEMO/LEMO_4PIN.fp"> LEMO_4PIN.fp </a> - recepticle, LEMO EPG.0B.304.HLN</li>
   <li> <a href="footprints/connectors/RCA_DUAL_CUI_RCJ22.fp"> RCA_DUAL_CUI_RCJ22.fp </a> - CUI series RCJ22, dual cinch recepticle, stacked vertically </li>
</ul>

<h4>coaxial</h4>
   <li> <a href="footprints/connectors/coaxial/BNC_LAY_BOTTOM.fp"> BNC_LAY_BOTTOM.fp </a> - like BNC_LAY.fp, but to be mounted on bottom layer with silk on top layer</li>
   <li> <a href="footprints/connectors/coaxial/BNC_LAY.fp"> BNC_LAY.fp </a> - BNC socket, model telegärtner J01001A0037 or J01001A0038, horizontal mount </li>
   <li> <a href="footprints/connectors/coaxial/BNC_LAY2.fp"> BNC_LAY2.fp </a> - model telegärtner J01001A0037, can be mounted vertically too</li>
   <li> <a href="footprints/connectors/coaxial/BNC_VERT.fp"> BNC_VERT.fp </a> - model telegärtner J01001A0037, to be mounted vertically, on either side of the pcb</li>
   <li> <a href="footprints/connectors/coaxial/BNC_VERT2.fp"> BNC_VERT2.fp </a> - model telegärtner J01001A0037, to be mounted vertically </li>
   <li> <a href="footprints/connectors/coaxial/BNC_VERT3.fp"> BNC_VERT3.fp </a> - model telegärtner J01001A1945, or J01001A1944, vertical full metal recepticle </li>
   <li> <a href="footprints/connectors/coaxial/BNC_DUAL_BOMAR364.fp"> BNC_DUAL_BOMAR364.fp </a> - BOMAR series 364, dual BNC, stacked vertically </li>
   <li> <a href="footprints/connectors/coaxial/HF_multi.fp"> HF_multi.fp </a> - multiple model HF connector. Fits various generic BNC and SMA recepticles</li>
   <li> <a href="footprints/connectors/coaxial/SMA_LAY.fp"> SMA_LAY.fp </a> - SMA recepticle, telegärtner J01151A0191</li>
   <li> <a href="footprints/connectors/coaxial/SMA_VERT.fp"> SMA_VERT.fp </a> - SMA recepticle, telegärtner J01151A0931</li>
   <li> <a href="footprints/connectors/coaxial/SMA_edge.fp"> SMA_edge.fp </a> - SMA recepticle, soldered to the eddge of the PCB. E.g Amphenol 132255</li>
   <li> <a href="footprints/connectors/coaxial/SMA_edge2.fp"> SMA_edge2.fp </a> - Same as SMA_edge.fp but no ground pads on the top layer</li>
</ul>

<h4>DVI</h4>
<ul>
   <li> <a href="footprints/connectors/DVI/DVI_D_LAY.fp"> DVI_D_LAY.fp </a> - digital TFT display connector</li>
   <li> <a href="footprints/connectors/DVI/DVI_D_vert.fp"> DVI_D_vert.fp </a> - digital TFT display connector, vertical mount</li>
</ul>

<h4>JAE</h4>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x2PIN.fp"> PS_1x2PIN.fp </a>  - JAE model IL-G, 10 pin </li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x2PIN_LAY.fp"> PS_1x2PIN_LAY.fp </a> - same as above, horizontal mount</li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x3PIN.fp"> PS_1x3PIN.fp </a>  - JAE model IL-G, 10 pin </li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x3PIN_LAY.fp"> PS_1x3PIN_LAY.fp </a> - same as above, horizontal mount</li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x4PIN.fp"> PS_1x4PIN.fp </a>  - JAE model IL-G, 10 pin </li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x4PIN_LAY.fp"> PS_1x4PIN_LAY.fp </a>  - same as above, horizontal mount </li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x5PIN.fp"> PS_1x5PIN.fp </a> - same as above, horizontal mount</li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x5PIN_LAY.fp"> PS_1x5PIN_LAY.fp </a>  - JAE model IL-G, 10 pin </li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x8PIN.fp"> PS_1x8PIN.fp </a> - same as above, horizontal mount</li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x8PIN_LAY.fp"> PS_1x8PIN_LAY.fp </a>  - JAE model IL-G, 10 pin </li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x10PIN.fp"> PS_1x10PIN.fp </a>  - JAE model IL-G, 10 pin</li>
   <li> <a href="footprints/connectors/JAE_IL-G/PS_1x10PIN_LAY.fp"> PS_1x10PIN_LAY.fp </a> - same as above, horizontal mount</li>
</ul>

<h4>RIACON</h4>
<ul>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_2PIN.fp"> RIACON_383_2PIN.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 2 pin. Compatible to Phoenix MC 3.81 series.</li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_2PIN_LAY.fp"> RIACON_383_2PIN_LAY.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 2 pin, horizontal version. Compatible to Phoenix MC 3.81 series. </li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_3PIN.fp"> RIACON_383_3PIN.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 3 pin. Compatible to Phoenix MC 3.81 series.</li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_3PIN_LAY.fp"> RIACON_383_3PIN_LAY.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 3 pin, horizontal version. Compatible to Phoenix MC 3.81 series.</li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_4PIN.fp"> RIACON_383_4PIN.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 4 pin. Compatible to Phoenix MC 3.81 series.</li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_4PIN_LAY.fp"> RIACON_383_4PIN_LAY.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 4 pin, horizontal version. Compatible to Phoenix MC 3.81 series.</li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_5PIN.fp"> RIACON_383_5PIN.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 5 pin. Compatible to Phoenix MC 3.81 series.</li>
   <li> <a href="footprints/connectors/RIACON/RIACON_383_5PIN_LAY.fp"> RIACON_383_5PIN_LAY.fp </a> - RIAconnect, Model 383, pitch 3.81 mm, 5 pin, horizontal version. Compatible to Phoenix MC 3.81 series.</li>
</ul>

<h4>RJ45</h4>
<ul>
   <li> <a href="footprints/connectors/RJ45/RJ45_8P8C_lay.fp"> RJ45_8P8C_lay.fp </a> - RJ45 modular jack, 8 pins, horizontal thru hole mount </li>
   <li> <a href="footprints/connectors/RJ45/RJ45_8P8C_vert.fp"> RJ45_8P8C_vert.fp </a> - RJ45 modular jack, 8 pins, vertical thru hole mount </li>
</ul>

<h4>SCSI</h4>
<ul>
   <li> <a href="footprints/connectors/SCSI/SCSI_68pin_vert.fp"> SCSI_68pin_vert.fp </a> - SCSI connector, e.g. Tyco 2-174339-5, male and female version of this connector have the same footprint</li>
   <li> <a href="footprints/connectors/SCSI/SCSI_VHDCI_cable_vert.fp"> SCSI_VHDCI_cable_vert.fp </a> - SCSI connector, pin numbers compatible to VHDCI-SCSI cable as used for RAID controlers. Note, the pin numbers differ from SCSI_68pin_vert.fp.</li>
   <li> <a href="footprints/connectors/SCSI/SCSI_VHDCI_cable_lay.fp"> SCSI_VHDCI_cable_lay.fp </a> - SCSI connector, pin numbers compatible to VHDCI-SCSI cable as used for RAID controlers. Note, the pin numbers differ from SCSI_68pin_vert.fp.</li>
   <li> <a href="footprints/connectors/SCSI/SCSI_help.fp"> SCSI_help.fp </a> - some lines in silk  exactly in the middle between the pins of a SCSI footprint. Use convert_buffer_to_element to render as individual lines and morph them into tracks with the m key</li>
   <li> <a href="footprints/connectors/SCSI/SCSI_help2.fp"> SCSI_help2.fp </a> - tiny vias exactly in the middle in between the pins of a SCSI connector so the mouse cursor will snap there.</li>
</ul>

<h4>subD</h4>
<ul>
   <li> <a href="footprints/connectors/subD/SUBD9_male_lay.fp"> SUBD9_male_lay.fp </a> - male SubD 9 pin connector, horizontal pcb mount, metric version </li>
   <li> <a href="footprints/connectors/subD/SUBD9_female_lay.fp"> SUBD9_female_lay.fp </a> - female SubD 9 pin connector, horizontal pcb mount, metric version </li>
   <li> <a href="footprints/connectors/subD/SUBD9_male_vert.fp"> SUBD9_male_vert.fp </a> - male SubD 9 pin connector, vertical pcb mount </li>
   <li> <a href="footprints/connectors/subD/SUBD9_female_vert.fp"> SUBD9_female_vert.fp </a> - female SubD 9 pin connector, vertical pcb mount </li>
   <li> <a href="footprints/connectors/subD/SUBD15_male_lay.fp"> SUBD15_male_lay.fp </a> - male SubD 15 pin connector, horizontal pcb mount, metric version </li>
   <li> <a href="footprints/connectors/subD/SUBD15_female_lay.fp"> SUBD15_female_lay.fp </a> - female SubD 15 pin connector, horizontal pcb mount, metric version </li>
   <li> <a href="footprints/connectors/subD/SUBD25_male_lay.fp"> SUBD25_male_lay.fp </a> - male SubD 25 pin connector, horizontal pcb mount, metric version </li>
   <li> <a href="footprints/connectors/subD/SUBD25_female_lay.fp"> SUBD25_female_lay.fp </a> - female SubD 25 pin connector, horizontal pcb mount, metric version </li>
   <li> <a href="footprints/connectors/subD/SUBD37_male_lay.fp"> SUBD37_male_lay.fp </a> - male SubD 37 pin connector, horizontal pcb mount, metric version </li>
</ul>

<h4>XLR</h4>
<ul>
   <li> <a href="footprints/connectors/XLR/XLR3_3PIN_b.fp"> XLR3_3PIN_b.fp </a> - </li>
   <li> <a href="footprints/connectors/XLR/XLR3_3PIN_c.fp"> XLR3_3PIN_c.fp </a> - </li>
   <li> <a href="footprints/connectors/XLR/XLR3_3PIN.fp"> XLR3_3PIN.fp </a> - </li>
   <li> <a href="footprints/connectors/XLR/XLR3_4PIN.fp"> XLR3_4PIN.fp </a> - </li>
   <li> <a href="footprints/connectors/XLR/XLR3_silk.fp"> XLR3_silk.fp </a> - silk layer only</li>
   <li> <a href="footprints/connectors/XLR/XLR3_LAY.fp"> XLR3_LAY.fp </a> - </li>
   <li> <a href="footprints/connectors/XLR/XLR3_vert.fp"> XLR3_vert.fp </a> - vertically mounted XLR connector</li>
   <li> <a href="footprints/connectors/XLR/XLR3_PCB.fp"> XLR3_PCB.fp </a> - PCB mounted XLR connector by NEUTRIK</li>
   <li> <a href="footprints/connectors/XLR/XLR3_NC3FDL.fp"> XLR3_NC3FDL.fp </a> - XLR recepticle model NC3FDL by NEUTRIk soldered directly onto the PCB</li>
   <li> <a href="footprints/connectors/XLR/XLR3_NC3FDL.fp"> XLR3_AC3FDZ.fp </a> - same footprint as above, but named to fit model AC3FDZ by Amphenol </li>
</ul>

<h3>Discrete Components</h3>
<h4>Capacitors</h4>
<ul>
   <li> <a href="footprints/discretes/capacitors/cap_100mil.fp"> cap_100mil.fp </a> - capaciter, thru hole, 2.54 mm pin distance (100 mil)</li>
   <li> <a href="footprints/discretes/capacitors/cap_200mil.fp"> cap_200mil.fp </a> - capaciter, thru hole, 5.08 mm pin distance (200 mil)</li>
   <li> <a href="footprints/discretes/capacitors/cap_200mil_a.fp"> cap_200mil_a.fp </a> - same as above, small outline</li>
   <li> <a href="footprints/discretes/capacitors/cap_200mil_b.fp"> cap_200mil_b.fp </a> - same as above, medium outline</li>
   <li> <a href="footprints/discretes/capacitors/cap_200mil_c.fp"> cap_200mil_c.fp </a> - same as above, large outline</li>
   <li> <a href="footprints/discretes/capacitors/cap_1100mil.fp"> cap_1100mil.fp </a> - capaciter, thru hole, 27.5 mm pin distance (1100 mm)</li>
   <li> <a href="footprints/discretes/capacitors/elko_RM25_D6.fp"> elko_RM25_D6.fp </a> - elcap, pins 2.5 mm apart, diameter 6 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM35_D8.fp"> elko_RM35_D8.fp </a> - elcap, pins 3.5 mm apart, diameter 8 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM5_RM35.fp"> elko_RM5_RM35.fp </a> - elcap, pins 3.5 mm or 5 mm apart. Diameter 8 mm to 10 mm</li>
   <li> <a href="footprints/discretes/capacitors/elko_RM5_D6.fp"> elko_RM5_D6.fp </a> - elcap, pins 5 mm apart, diameter 6 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM5_D10.fp"> elko_RM5_D10.fp </a> - elcap, pins 5 mm apart, diameter 10 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM5_D10_lay.fp"> elko_RM5_D10_lay.fp </a> - elcap, pins 5 mm apart, diameter 10 mm, height 20 mm, horizontal mount</li>
   <li> <a href="footprints/discretes/capacitors/elko_RM5_D10_tyrap.fp"> elko_RM5_D10_tyrap.fp </a> - elcap, pins 5 mm apart, diameter 10 mm, height 20 mm, horizontal mount with tyrap holes</li>
   <li> <a href="footprints/discretes/capacitors/elko_RM5_D13.fp"> elko_RM5_D13.fp </a> - elcap, pins 5 mm apart, diameter 13 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM75_D16.fp"> elko_RM75_D16.fp </a> - elcap, pins 7.5 mm apart, diameter 16 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM75_D16_lay.fp"> elko_RM75_D16_lay.fp </a> - elcap, pins 7.5 mm apart, diameter 16 mm, horizontal mount </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM75_D16_tyrap.fp"> elko_RM75_D16_tyrap.fp </a> - elcap, pins 7.5 mm apart, diameter 16 mm, horizontal mount with holes for tyraps </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM75_D18.fp"> elko_RM75_D18.fp </a> - elcap, pins 7.5 mm apart, diameter 18 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_RM10_D22.fp"> elko_RM10_D22.fp </a> - elcap, pins 10 mm apart, diameter 22 mm </li>
   <li> <a href="footprints/discretes/capacitors/tantal_7x4mm.fp"> tantal_7x4mm.fp </a> - SMD tantal elcap, size 7.3 x 4.3 mm </li>
   <li> <a href="footprints/discretes/capacitors/elko_BC_D35.fp"> elko_BC_D35.fp </a> - BC Components elcap, diameter 35 mm</li>
</ul>

<h4>Diodes</h4>
<ul>
   <li> <a href="footprints/discretes/diodes/dio_300mil.fp"> - dio_300mil.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/dio_400mil.fp"> - dio_400mil.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/dio_minimelf.fp"> - dio_minimelf.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/dio_0805.fp"> - dio_0805.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/dio_1210.fp"> - dio_1210.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/dio_1812.fp"> - dio_1812.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/tvs_400mil.fp"> - tvs_400mil.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/tvs_1812.fp"> - tvs_1812.fp </a> - </li>
   <li> <a href="footprints/discretes/diodes/LED_1206.fp"> - LED_1206.fp </a> - LED, SMD, size 1206</li>
   <li> <a href="footprints/discretes/diodes/LED_3mm.fp"> - LED_3mm.fp </a> - LED, thru hole, diameter 3 mm</li>
   <li> <a href="footprints/discretes/diodes/LED_5mm.fp"> - LED_5mm.fp </a> - LED, thru hole, diameter 5 mm</li>
</ul>

<h4>Inductors</h4>
<ul>
   <li> <a href="footprints/discretes/inductors/ind_1812.fp"> ind_1812.fp </a> - SMD inductor, size 1812, e.g. Ferrocore DL1812-10</li>
   <li> <a href="footprints/discretes/inductors/ind_300mil.fp"> ind_300mil.fp </a> - thru hole inductor, pin spacing 7.5 mm (300 mil)</li>
   <li> <a href="footprints/discretes/inductors/ind_500mil.fp"> ind_500mil.fp </a> - thru hole inductor, pin spacing 10 mm (400 mil)</li>
</ul>

<h4>Resistors</h4>
<ul>
   <li> <a href="footprints/discretes/resistors/res_vert.fp"> res_vert.fp </a> - resistor, vertical mount</li>
   <li> <a href="footprints/discretes/resistors/res_300mil.fp"> res_300mil.fp </a> - resistor, pin spacing 7.5 mm (300 mil)</li>
   <li> <a href="footprints/discretes/resistors/res_400mil.fp"> res_400mil.fp </a> - resistor, pin spacing 10 mm (400 mil)</li>
   <li> <a href="footprints/discretes/resistors/res_600mil.fp"> res_600mil.fp </a> - resistor, pin spacing 15 mm (600 mil)</li>
   <li> <a href="footprints/discretes/resistors/res_800mil.fp"> res_800mil.fp </a> - power resistor, pin spacing 20 mm (800 mil)</li>
   <li> <a href="footprints/discretes/resistors/res_socket.fp"> res_socket.fp </a> - resistor in 400 mil spaced socket</li>
</ul>

<h4>Varistors</h4>
<ul>
   <li> <a href="footprints/discretes/varistors/var_8mm.fp"> var_8mm.fp </a> - varistor with 8mm spaced pins, vertical mount</li>
   <li> <a href="footprints/discretes/varistors/var_8mm_lay.fp"> var_8mm_lay.fp </a> - varistor with 8mm spaced pins, flat mount</li>
   <li> <a href="footprints/discretes/varistors/var_10mm.fp"> var_10mm.fp </a> - varistor with 10mm spaced pins, vertical mount</li>
   <li> <a href="footprints/discretes/varistors/var_10mm_lay.fp"> var_10mm_lay.fp </a> - varistor with 10mm spaced pins, flat mount</li>
</ul>

<h3>Holes</h3>
<ul>
<li> <a href="footprints/mechanical/holes/hole_1mm.fp"> hole_1mm.fp </a> - hole, 1mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_1.9mm.fp"> hole_1.9mm.fp </a> - hole, 1.9 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_2mm.fp"> hole_2mm.fp </a> - hole, 2 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_2.5mm.fp"> hole_2.5mm.fp </a> - hole, 2.5 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_3mm.fp"> hole_3mm.fp </a> - hole, 3 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_3.5mm.fp"> hole_3.5mm.fp </a> - hole, 3.5 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_4mm.fp"> hole_4mm.fp </a> - hole, 4 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_4.5mm.fp"> hole_4.5mm.fp </a> - hole, 4.5 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_5mm.fp"> hole_5mm.fp </a> - hole, 5 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_6mm.fp"> hole_6mm.fp </a> - hole, 6 mm diameter</li>
<li> <a href="footprints/mechanical/holes/hole_M1.8.fp"> hole_M1.8.fp </a> - hole for M1.8 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M2.fp"> hole_M2.fp </a> -  hole for M2 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M2.5.fp"> hole_M2.5.fp </a> - hole for M2.5 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M3.fp"> hole_M3.fp </a> - hole for M3 screw </li>
<li> <a href="footprints/mechanical/holes/hole_M4.fp"> hole_M4.fp </a> - hole for M4 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M5.fp"> hole_M5.fp </a> - hole for M5 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M6.fp"> hole_M6.fp </a> - hole for M6 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M8.fp"> hole_M8.fp </a> - hole for M8 screw (exceeds maximum allowed drill diameter at basista.de)</li>
<li> <a href="footprints/mechanical/holes/hole_M10.fp"> hole_M10.fp </a> - hole for M10 screw (exceeds maximum allowed drill diameter at basista.de)</li>
<li> <a href="footprints/mechanical/holes/hole_M1.8_plated.fp"> hole_M1.8_plated.fp </a> - plated hole for M1.8 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M2_plated.fp"> hole_M2_plated.fp </a> - plated hole for M2 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M2.5_plated.fp"> hole_M2.5_plated.fp </a> - plated hole for M2.5 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M3_plated.fp"> hole_M3_plated.fp </a> - plated hole for M3 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M4_plated.fp"> hole_M4_plated.fp </a> - plated hole for M4 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M5_plated.fp"> hole_M5_plated.fp </a> - plated hole for M5 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M6_plated.fp"> hole_M6_plated.fp </a> - plated hole for M6 screw</li>
<li> <a href="footprints/mechanical/holes/hole_M8_plated.fp"> hole_M8_plated.fp </a> - plated hole for M8 screw (exceeds maximum allowed drill diameter at basista.de)</li>
<li> <a href="footprints/mechanical/holes/hole_M10_plated.fp"> hole_M10_plated.fp </a> - plated hole for M10 screw (exceeds maximum allowed drill diameter at basista.de)</li>
</ul>

<h3>Mechanical</h3>
<h4>Boxes</h4>
<ul>
   <li> <a href="footprints/mechanical/boxes/BOX_BOPLA_E410.fp"> BOX_BOPLA_E410.fp </a> - polystyrol enclosing, 100 x 50 x 25 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_DELTRON_455_0020.fp"> BOX_DELTRON_455_0020.fp </a> - aluminum die cast enclosing, 114 x 63 x 30 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_11451PSLA.fp"> BOX_HAMMOND_11451PSLA.fp </a> - aluminum die cast enclosing, 53 x 38 x 31 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_27134PSLA.fp"> BOX_HAMMOND_27134PSLA.fp </a> - aluminum die cast enclosing, 111 x 60 x 31 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_27969PSLA.fp"> BOX_HAMMOND_27969PSLA.fp </a> - aluminum die cast enclosing, 92 x 38 x 31 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590DD.fp"> BOX_HAMMOND_1590DD.fp </a> - aluminum die cast enclosing, 120 x 188 x 28 mm. Fits "euro card"</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590LLB.fp"> BOX_HAMMOND_1590LLB.fp </a> - aluminum die cast enclosing, 50 x 50 x 25 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590LB.fp"> BOX_HAMMOND_1590LB.fp </a> - aluminum die cast enclosing, 51 x 51 x 27 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590G.fp"> BOX_HAMMOND_1590G.fp </a> - aluminum die cast enclosing, 100 x 50 x 21 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590B.fp"> BOX_HAMMOND_1590B.fp </a> - aluminum die cast enclosing, 112 x 60 x 27 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590Y.fp"> BOX_HAMMOND_1590Y.fp </a> - aluminum die cast enclosing, 92 x 92 x 38 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590Q.fp"> BOX_HAMMOND_1590Q.fp </a> - lid of aluminum die cast enclosing, 120 x 120 x 28 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1590Q_BOTTOM.fp"> BOX_HAMMOND_1590Q_BOTTOM.fp </a> - bottom of HAMMOND 1590Q</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1593J_BASE.fp"> BOX_HAMMOND_1593_BASE.fp </a> - base of HAMMOND 1593J, 66 x 66 x 27.5 mm</li>
   <li> <a href="footprints/mechanical/boxes/BOX_HAMMOND_1593J_COVER.fp"> BOX_HAMMOND_1593_COVER.fp </a> - cover of HAMMOND 1593J</li>
</ul>

<h4>Blocks</h4>
<ul>
   <li> <a href="footprints/mechanical/blocks/cube_10mm.fp"> cube_10mm.fp </a> - 10 mm brass cube with centered M3 hole</li>
   <li> <a href="footprints/mechanical/blocks/cube_12mm.fp"> cube_12mm.fp </a> - 12 mm brass cube with centered M3 hole</li>
   <li> <a href="footprints/mechanical/blocks/cuboid_10x15mm.fp"> cuboid_10x15mm.fp </a> - brass cuboid, big face</li>
   <li> <a href="footprints/mechanical/blocks/cuboid_5x10mm.fp"> cuboid_5x10mm.fp </a> - brass cuboid, small face</li>
   <li> <a href="footprints/mechanical/blocks/cuboid_5x15mm.fp"> cuboid_5x15mm.fp </a> - brass cuboid, medium face</li>
   <li> <a href="footprints/mechanical/blocks/cuboid_5x9mm_SMD.fp"> cuboid_5x9mm_SMD.fp </a> - brass cuboid, 5x5x9mm, to be soldered to the pcb</li>
</ul>

<h3>Logos</h3>
<ul>
   <li> <a href="footprints/logos/lila.fp"> lila.fp </a> - </li>
   <li> <a href="footprints/logos/lilalogo.fp"> lilalogo.fp </a> - </li>
   <li> <a href="footprints/logos/lilalogo_tracks.fp"> lilalogo_tracks.fp </a> - </li>
</ul>

<h3>Misc</h3>
<ul>
   <li> <a href="footprints/misc/JMP_1PIN.fp"> JMP_1PIN.fp </a> - </li>
   <li> <a href="footprints/misc/JMP_2PIN.fp"> JMP_2PIN.fp </a> - </li>
   <li> <a href="footprints/misc/JMP_2x2PIN.fp"> JMP_2x2PIN.fp </a> - </li>
   <li> <a href="footprints/misc/JMP_3PIN.fp"> JMP_3PIN.fp </a> - </li>
   <li> <a href="footprints/misc/JMP_3PIN_SMD.fp"> JMP_3PIN.fp </a> - </li>
   <li> <a href="footprints/misc/JMP_default.fp"> JMP_default.fp </a> - A footprint to mark the default setting of a jumper </li>
   <li> <a href="footprints/misc/JMP_SMD.fp"> JMP_SMD.fp </a> - </li>
   <li> <a href="footprints/misc/perfboard1.fp"> perfboard1.fp </a> - prototype perfboard, 100 mil grid typ</li>
   <li> <a href="footprints/misc/perfboard2.fp"> perfboard2.fp </a> - prototype perfboard, smallish annular rings</li>
   <li> <a href="footprints/misc/perfboard3.fp"> perfboard3.fp </a> - prototype perfboard, rings in silk only</li>
   <li> <a href="footprints/misc/round_mark.fp"> round_mark.fp </a> - a round production mark on top and bottom</li>
   <li> <a href="footprints/misc/square_mark.fp"> square_mark.fp </a> - a square production mark</li>
   <li> <a href="footprints/misc/pad_square.fp"> pad_square.fp </a> - single square SMD pad </li>
   <li> <a href="footprints/misc/pad_round.fp"> pad_round.fp </a> - single round SMD pad </li>
   <li> <a href="footprints/misc/pin_0.5mm.fp"> pin_0.5mm.fp </a> - single pin, 0.5 mm diameter hole </li>
   <li> <a href="footprints/misc/pin_1mm.fp"> pin_1mm.fp </a> - single pin, 1 mm diameter hole </li>
   <li> <a href="footprints/misc/pin_meas.fp"> pin_meas.fp </a> - single pin with tiny hole for measurement </li>
</ul>

<h3>Specific</h3>
<ul>
   <li> <a href="footprints/specific/BEEPER_F-UCW.fp"> BEEPER_F-UCW.fp </a> - </li>
   <li> <a href="footprints/specific/BPW34.fp"> BPW34.fp </a> - thru hole standard photo diode</li>
   <li> <a href="footprints/specific/BPW34S.fp"> BPW34S.fp </a> - SMD standard photo diode</li>
   <li> <a href="footprints/specific/BPW34S_upsidedown.fp"> BPW34S_upsidedown.fp </a> - SMD photo diode looking through a hole in the board </li>
   <li> <a href="footprints/specific/BPW34_upsidedown.fp"> BPW34_upsidedown.fp </a> - thru hole photo diode looking through a hole in the board. </li>
   <li> <a href="footprints/specific/Copernicus2.fp"> Copernicius2.fp </a> - Copernicus2, a GPS module by Trimble Navigation Ltd. </li>
   <li> <a href="footprints/specific/CRYSTEK_C32XX.fp"> CRYSTEK_C32XX.fp </a> - low jitter fixed frequency  oscillator</li>
   <li> <a href="footprints/specific/DIOTEC_BXXD.fp"> DIOTEC_BXXD.fp </a> - SMD bridge rectifier, series DIOTEC BxxD</li>
   <li> <a href="footprints/specific/DIOTEC_BXXS.fp"> DIOTEC_BXXS.fp </a> - SMD bridge rectifier, series DIOTEC BxxS</li>
   <li> <a href="footprints/specific/DIOTEC_SXX.fp"> DIOTEC_SXX.fp </a> - SMD bridge rectifier, series DIOTEC Sxx</li>
   <li> <a href="footprints/specific/FASTRON_PISG.fp"> FASTRON_PISG.fp </a> - SMD inductor, model FASTRON PISG</li>
   <li> <a href="footprints/specific/FASTRON_PISR.fp"> FASTRON_PISR.fp </a> - SMD inductor, model FASTRON PISR</li>
   <li> <a href="footprints/specific/LASERDIODE_5MM6_ROT45.fp"> LASERDIODE_5MM6_ROT45.fp </a> - laser diode, 5.6 mm package </li>
   <li> <a href="footprints/specific/LASERDIODE_5MM6_ROT45-2.fp"> LASERDIODE_5MM6_ROT45-2.fp </a> - laser diode, 5.6 mm package, no silk </li>
   <li> <a href="footprints/specific/LTST-C155.fp"> LTST-C155.fp </a> - a four pin, bicolor SMD LED by LITEON. </li>
   <li> <a href="footprints/specific/LM399.fp"> LM399.fp </a> - precision voltage reference</li>
   <li> <a href="footprints/specific/MENTOR_tri_light_pipe_1276.1003.fp"> MENTOR_tri_light_pipe_1276.1003.fp </a> - light pipes for three 0805 size LEDs </li>
   <li> <a href="footprints/specific/MENTOR_quad_light_pipe_1276.1004.fp"> MENTOR_quad_light_pipe_1276.1004.fp </a> - light pipes for four 0805 size LEDs </li>
   <li> <a href="footprints/specific/MINICIRCUITS_4PIN.fp"> MINICIRCUITS_4PIN.fp </a> - four pin box like components by MINICIRCUITS. E.g. variable attenuator TFAS-1+</li>
   <li> <a href="footprints/specific/MINICIRCUITS_4PIN_SMD.fp"> MINICIRCUITS_4PIN_SMD.fp </a> - four pin box like SMD style components by MINICIRCUITS. E.g. variable attenuator TFAS-1SM+</li>
   <li> <a href="footprints/specific/MINICIRCUITS_8PIN.fp"> MINICIRCUITS_8PIN.fp </a> - eight pin box like components by MINICIRCUITS. E.g. ocillators POS-100</li>
   <li> <a href="footprints/specific/MINICIRCUITS_MMIC.fp"> MINICIRCUITS_MMIC.fp </a> - four pin MMIC amplifier, e.g ERA-5SM+, MAR-1SM+</li>
   <li> <a href="footprints/specific/RELAY_FP2.fp"> RELAY_FP2.fp </a> - nice, small relay</li>
   <li> <a href="footprints/specific/SPECTROL_534.fp"> SPECTROL_534.fp </a> - cost effective precision potentiometer</li>
   <li> <a href="footprints/specific/LM317_SO8.fp"> LM317_SO8.fp </a> - Variable voltage regulator LM317 in SO8 package</li>
   <li> <a href="footprints/specific/VISHAY_RH10.fp"> VISHAY_RH10.fp </a> - power resistor with aluminum heat sink</li>
   <li> <a href="footprints/specific/VISHAY_S102.fp"> VISHAY_S102.fp </a> - very low drift reference resistor</li>
   <li> <a href="footprints/specific/VOM1271.fp"> VOM1271.fp </a> - VISHAY VOM1271, photovoltaic MOSFET driver</li>
</ul>

<h3>Potentiometers</h3>
<ol>
   <li> <a href="footprints/discretes/potentiometers/VISHAY_T18.fp"> VISHAY_T18.fp </a> - multi turn cermet potentiometer, length 19 mm, series VISHAY T18, or BI technologies model 89 </li>
   <li> <a href="footprints/discretes/potentiometers/panel_mount_BI898.fp"> panel_mount_BI898.fp </a> - panel mount for multi turn cermet potentiometer, lengthhole BI technologies model 898 </li>
   <li> <a href="footprints/discretes/potentiometers/VISHAY_T93YB.fp"> trimmer_VISHAY_T93YB.fp </a> - multi turn cermet potentiometer, height 10 mm, series VISHAY T93YB, or BI technologies model 67Y</li>
   <li> <a href="footprints/discretes/potentiometers/VISHAY_T93YA.fp"> trimmer_VISHAY_T93YA.fp </a> - multi turn cermet potentiometer, height 10 mm, series VISHAY T93YA, or BI technologies model 67W</li>
   <li> <a href="footprints/discretes/potentiometers/ALPS_RK09K111.fp"> ALPS_RK09K111.fp </a> - potentiometer by ALPS, horizontal mount</li>
   <li> <a href="footprints/discretes/potentiometers/ALPS_RK11K112.fp"> ALPS_RK11K112.fp </a> - smooth potentiometer by ALPS, horizontal mount</li>
   <li> <a href="footprints/discretes/potentiometers/ALPS_RK11K113.fp"> ALPS_RK11K113.fp </a> - smooth potentiometer by ALPS, vertical mount</li>
   <li> <a href="footprints/discretes/potentiometers/BI_MODEL35.fp"> BI_MODEL35.fp </a> - miniature SMD single turn trimmer, e.g, BI technologies model 35</li>
   <li> <a href="footprints/discretes/potentiometers/SPECTROL_534.fp"> SPECTROL_534.fp </a> - cost effective precision potentiometer, series SPECTROL 534</li>
</ol>

<h3>Switches</h3>
<ul>
   <li> <a href="footprints/switches/APEM_TL36WW.fp"> APEM_TL36WW.fp </a> - 1 way switch, horizontal, MULTICOMP 2AS*, APEM TL36WW, APEM TL39WW </li>
   <li> <a href="footprints/switches/APEM_TL46.fp"> APEM_TL46.fp </a> - 2 way switch, vertical, APEM TL46, or Multicomp 2MD1T2B2M2RE, or Multicomp 2MD1T1B5M2RE </li>
   <li> <a href="footprints/switches/APEM_TL46WW.fp"> APEM_TL46WW.fp </a> - 2 way switch, horizontal, APEM TL46WW</li>
   <li> <a href="footprints/switches/APEM_TL36WW.fp"> APEM_TL36WW.fp </a> - 1 way switch, horizontal, MULTICOMP 2AS*, APEM TL36WW, APEM TL39WW </li>
   <li> <a href="footprints/switches/ELMA_07R14.fp"> ELMA_07R14.fp </a> - 4 way switch, Elma model 07R1424</li>
   <li> <a href="footprints/switches/ELEDIS_2B11.fp"> ELEDIS_2B11.fp </a> - small switch, upright, C+K model 2B11N2F4PCAE</li>
   <li> <a href="footprints/switches/ELEDIS_2B11_LAY.fp"> ELEDIS_2B11_LAY.fp </a> - small switch, horizontal, C+K model 2B11N2F4H9SAE</li>
   <li> <a href="footprints/switches/LORLIN_1x12.fp"> LORLIN_1x12.fp </a> - rotary switch, series LORLIN CK, 12 positions</li>
   <li> <a href="footprints/switches/LORLIN_2x6.fp"> LORLIN_2x6.fp </a> - rotary switch, series LORLIN CK, 2x6 positions</li>
   <li> <a href="footprints/switches/LORLIN_3x4.fp"> LORLIN_3x4.fp </a> - rotary switch, series LORLIN CK, 3x4 positions</li>
   <li> <a href="footprints/switches/LORLIN_4x3.fp"> LORLIN_4x3.fp </a> - rotary switch, series LORLIN CK, 4x3 positions</li>
   <li> <a href="footprints/switches/NIKKAI_SK12BG30.fp"> NIKKAI_SK12BG30.fp </a> - pcb mount key switch </li>
   <li> <a href="footprints/switches/MENTOR_1845.fp"> MENTOR_1845.fp </a> - pushbutton with LED</li>
   <li> <a href="footprints/switches/MIYAMA_MS500A.fp"> MIYAMA_MS500A.fp </a> - 1 way switch, vertical pcb mount, MIYAMA_MS500A, MTS-1 </li>
   <li> <a href="footprints/switches/MIYAMA_MS500AVT.fp"> MIYAMA_MS500AVT.fp </a> - 1 way switch, horizontal pcb mount, MIYAMA MS-500A-B-VT, or APEM 5236</li>
   <li> <a href="footprints/switches/MIYAMA_MS500FVT.fp"> MIYAMA_MS500FVT.fp </a> - 2 way switch, horizontal pcb mount, MIYAMA MS-500F-B-VT, or APEM 5246</li>
   <li> <a href="footprints/switches/MIYAMA_MS500FPC.fp"> MIYAMA_MS500FPC.fp </a> - 2 way switch, vertical pcb mount, MIYAMA MS-500FP-C, or APEM 5646, or MULTICOMP 1MD1T1B51QE, or MTS-2</li>
   <li> <a href="footprints/switches/TYCO_FSMJ.fp"> TYCO_FSMJ.fp </a> - small push button</li>
</ul>

<h3>DIP-Switches</h3>
<ul>
   <li> <a href="footprints/switches/dipswitches/COPAL_CHS02B.fp"> COPAL_CHS02B.fp </a> - miniature DIP switch, dual, model COPAL CHS-02 </li>
   <li> <a href="footprints/switches/dipswitches/COPAL_CHS04B.fp"> COPAL_CHS04B.fp </a> - miniature DIP switch, quad, model COPAL CHS-04 </li>
   <li> <a href="footprints/switches/dipswitches/COPAL_CHS06B.fp"> COPAL_CHS06B.fp </a> - miniature DIP switch, hex, model COPAL CHS-06 </li>
   <li> <a href="footprints/switches/dipswitches/COPAL_CHS08B.fp"> COPAL_CHS08B.fp </a> - miniature DIP switch, octo, COPAL CHS-08 </li>
   <li> <a href="footprints/switches/dipswitches/COPAL_CHS10B.fp"> COPAL_CHS10B.fp </a> - miniature DIP switch, deci, model COPAL CHS-10 </li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_3.fp"> DIPSWITCH_3.fp </a> - 3 way DIP-switch, regular style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_3P.fp"> DIPSWITCH_3P.fp </a> - 3 way DIP-switch, piano style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_4.fp"> DIPSWITCH_4.fp </a> - 4 way DIP-switch, regular style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_4P.fp"> DIPSWITCH_4P.fp </a> - 4 way DIP-switch, piano style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_6.fp"> DIPSWITCH_6.fp </a> - 6 way DIP-switch, regular style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_6P.fp"> DIPSWITCH_6P.fp </a> - 6 way DIP-switch, piano style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_8.fp"> DIPSWITCH_8.fp </a> - 8 way DIP-switch, regular style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_8P.fp"> DIPSWITCH_8P.fp </a> - 8 way DIP-switch, piano style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_10.fp"> DIPSWITCH_10.fp </a> - 10 way DIP-switch, regular style</li>
   <li> <a href="footprints/switches/dipswitches/DIPSWITCH_10P.fp"> DIPSWITCH_10P.fp </a> - 10 way DIP-switch, piano style</li>
</ul>
