<!--#set var="title" value="Kai-Martin Knaak" -->
<!--#include virtual="/header.html" -->

Kai-Martin Knaak <br>
email: <a href="mailto:kmk@familieknaak.de">kmk@familieknaak.de</a> <br>

<h2>General remarks</h2>
The catalog of symbols and footprints presented here is self consistent.
That is, the default footprint attribute of a symbol points
to one of the footprints given in the footprint section.

<p>Note: All my symbols, footprints and scripts are licensed GPL 2 or GPL 3 for 
distribution, and unlimited for use. See
<a href="http://www.gnu.org/licenses/gpl.txt">http://www.gnu.org/licenses.gpl.txt</a>
for the details</p>

<h2>New Geda Project Script</h2>
<a href="scripts/new_geda_project.sh">new_geda_project.sh</a> is a little convinience
script to start a new geda project. When given a project name, it creates
a directory structure and populates it with some config files (gafrc,
attribs). It creates a default documentation file in lyx format in a doc folder. 
In addition, the bash helper scripts for printing copied to a print folder 
(see below for the helper scripts).

When started with the option "--git", the new_geda_project script initialize a git
repository project on the local git server. The git server is expected to be
listening at the URL http://localhost/git/ .

<h2>Script to print a bill of materials (BOM)</h2>
The almost trivial bash script <a href="scripts/bomdruck.sh">bomdruck.sh</a> uses
gnetlist to derive two versions of a bill of materials. The first lists one
component per line. The other collates all components with the same value. 

<h2>Scripted print of pcb layouts</h2>
The bash script <a href="scripts/layoutdruck.sh">layoutdruck.sh</a> uses PCB actions on the 
command line of pcb to produce a set of printouts for use in documentation. The
print is geared to facilitate population and debugging of prototypes. It produces
 a multi page PDF with top and bottom layout, each with values and with 
refdes. The layout can be spread between several sheets for large layouts.

<p> The option "-s" adds a  bottom view overlayed with a mirrored view of top silk. 
This x-ray view comes handy with thru hole designs.

<p> The option "-p" provides a photo realistic PNG export of top and bottom side.
A drop shadow is added to the PNG to make the image even more photo realistic.
This drop shadow needs the command "convert" from the imagemagick package of
image manipulation tools.

<p>Note, there is a watchdog in pcb that prevents the execution of some actions when printing
from the command line. The print script uses an action command to switch to the bottom 
view of the board. However, the watchdog function of pcb thinks, this kind of action
only be initiated by the GUI. The printing script does not start the GUI. Consequently,
the watchdog script pulls the trigger and immediately exits pcb.

The trivial patch <a href=patches/hidnogui-actionscript.patch>hidnogui-actionscript.patch</a> 
prevents this premature exit of pcb. It needs to be applied to the source of pcb. And 
pcb needs to be recompiled for the script to print the bottom side of the layout. 
It was presented to the bug tracker. But developers felt, it is more important to 
keep the watchdog alert than to allow scripts print the bottom of a layout.

<h2>PDF export of all schematics in a hierarchy</h2>
The bash script <a href="scripts/schaltplandruck.sh">schaltplandruck.sh</a> uses the 
command "gaf export" from the geda suite and a couple of external tools to create PDF 
output of all the schematics of a hierarchical project. It recursively descends
into subsheets and prints every unique schematic it encounters.

These external tools are used:
<dl>
   <dt> poster   <dd> resize and potentially rotate the schematic for printing on A4 paper
   <dt> psmerge  <dd> merge the single pages into one multi page document
   <dt> ps2pdf   <dd> convert to PDF
   <dt> gvfs-open <dd> open the output with the preferrred PDF viewer as defined by 
the users desktop environment.
</dl>
These tools are available as packages from the Debian repository.

<h2>More scripts</h2>
<ol>  
<li> <a href="scripts/set_pinnumber.sh">set_pinnumber.sh</a>: Emits the footprint file 
given on the command line with the value of all pin and pad names set to the 
value of their number. Requires awk.
<li> <a href="scripts/set_name_value_description.sh">set_name_value_description.sh</a>:
Sets name, value and description to the same string. I use this script for footprint
collections in the library.
<li>  <a href="scripts/set_clearance.sh">set_clearance.sh</a>: Sets the polygon clearance
and mask clearance of pins and pads. This is useful for footprint generation or
to comply with specific fab requirements.
<li> <a href="scripts/set_linewidth.sh"> set_linewidth.sh</a>: Sets the width of
silk lines in footprints. Default width is 0.2 mm.
<li> <a href="scripts/extract_footprints.sh">extract_footprints.sh</a>: Extracts all 
footprints of a layout and writes them to individual files in the currrent 
working directory.
<li> <a href="scripts/find-missing-symbols.sh">find-missing-symbols.sh</a>: Searches all 
*.sch in $PWD and sub dirs for missing symbols.
<li> <a href="scripts/collect_gedaconfs.sh">collect_gedaconfs.sh</a>: Collects the
config files in $HOME/.gEDA and $HOME/.pcb into a compressed tar file.
<li> <a href="scripts/set_number_of_pages.sh">set_number_of_pages.sh</a>: Sets the
attribute "number_of_pages" of all schematics files in the current working
directory. This is a work-arround for the absence of methods to handle global
attributes in gschem.
<li> <a href="scripts/set_net_of_port_symbol.sh">set_net_of_port_symbol.sh</a>: Sets the
net attribute of port symbols to the value given by the refdes. With this setting
gnetlist connects all ports of a kind. Else, only the first instance of the port
with a given refdes receives connection to the parent sheet.
<li> <a href="scripts/set_width_of_selected_lines.sh"> set_width_of_selected_lines.sh</a>: 
Manipulates the width of selected lines. Divides or multiplies line width by 10.
This can be useful to temporarily suppress DRC warnings. E.g., if some layers
require tighter DRC rules than others.
<li> <a href="scripts/layer_content.sh"> layer_content.sh</a>: Cut, or paste the content
of a layer wholesale from a layout. 
</ol>

<h3> Templates
<ul>
   <li> <a href="footprints/footprint_template.pcb"> footprint_template.pcb</a>
 - a template for footprint design</li>
</ul>
</h3>

<h2>Essential Lib</h2>
The <a href="essential/essential.html"> essential lib</a> is an effort to 
put together an improved default library for geda/pcb. Unlike the current
default libary it is supposed to be usable as is.

<h2>Symbols</h2>
The symbols in this sections are designed according to the following design criteria:
<ol>
	<li>they contain a default footprint attribute.
	<li>the footprint attribute is visible on the schematic and printed
	with a smaller font size than the refdes and the value of the symbol.
	<li>they contain a human readable description
	<li>power pins of integrated circuits are split off to a seperate power symbol
	<li>pin numbers are hidden, if they follow a generally accepted standard
</ol>

<!--#include file="symbols.html" -->

<h2>Footprints</h2>

<!--#include file="footprints.html" -->

<h2>Changelog</h2>
A changelog of this section of geda symbols is 
<a href="changelog.html"> here</a>

<!--#include virtual="/trailer.html" -->
