<h3>Title blocks</h3>
These title blocks include attributes for date, author, project name and page number.
<ul>
<li> <a href="symbols/titleblocks/title-A4-2.sym">title-A4-2.sym</a> </li>
<li> <a href="symbols/titleblocks/title-A3-2.sym">title-A3-2.sym</a> </li>
<li> <a href="symbols/titleblocks/title-A2-2.sym">title-A2-2.sym</a> </li>
<li> <a href="symbols/titleblocks/title-A1-2.sym">title-A1-2.sym</a> </li>
<li> <a href="symbols/titleblocks/title-A0-2.sym">title-A0-2.sym</a> </li>
<li> <a href="symbols/titleblocks/title-block.sym">title-block.sym</a> - just the block, without a frame </li>
</ul>

These port symbols connect subsheet nets with pins of subsheet symbols on the master sheet. 
<ul>
<li> <a href="symbols/titleblocks/in.sym">in.sym</a> - incoming signal on subsheet</li>
<li> <a href="symbols/titleblocks/out.sym">out.sym</a> - outgoing signal on subsheet</li>
</ul>

<h3>Templates</h3>
Some convenience templates for symbol creation.
<ul>
<li><a href="symbols/templates/pin_left.sym">pin_left.sym</a> -  Use the option "include as individual components"</li>
<li><a href="symbols/templates/pin_right.sym">pin_right.sym</a> -  Use the option "include as individual components"</li>
<li><a href="symbols/templates/pin_top.sym">pin_top.sym</a> -  Use the option "include as individual components"</li>
<li><a href="symbols/templates/pin_bottom.sym">pin_bottom.sym</a> - template pin for symbol creation</li>
<li> <a href="symbols/templates/subsheet.sym">subsheet.sym</a> - subsheet template with pins 300 units apart</li>
<li> <a href="symbols/templates/subsheet-2.sym">subsheet-2.sym</a> - subsheet template with pins 400 units apart</li>
</ul>

<h3>Discretes</h3>
	<h4>Various Discretes</h4>
	<ul>
	<li><a href="symbols/discretes/inductor.sym">inductor.sym</a> - inductor, drawn horizontally</li>
	<li><a href="symbols/discretes/inductor_vert.sym">inductor_vert.sym</a> - inductor, drawn vertically</li>
	<li><a href="symbols/discretes/cap_horiz.sym">cap_horiz.sym</a> - bipolar capacitor, drawn horizontally</li>
	<li><a href="symbols/discretes/cap_vert.sym">cap_vert.sym</a> - bipolar capacitor, drawn vertically</li>
	<li><a href="symbols/discretes/elko.sym">elko.sym</a> - electrolytic capacitor</li>
	<li><a href="symbols/discretes/ntc.sym">ntc.sym</a> - temperature sensor, NTC type </li>
	<li><a href="symbols/discretes/res_horiz.sym">res_horiz.sym</a> - resistor, drawn horizontally</li>
	<li><a href="symbols/discretes/res_vert.sym">res_vert.sym</a> - resistor, drawn vertically</li>
	<li><a href="symbols/discretes/res_ref.sym">res_ref.sym</a> - reference resistor</li>
	<li><a href="symbols/discretes/res_socket.sym">res_socket.sym</a> - resistor in socket</li>
	<li><a href="symbols/discretes/res_zero.sym">res_zero.sym</a> - 0 Ohm resistor</li>
	<li><a href="symbols/discretes/potentiometer.sym">potentiometer.sym</a> - potentiometer, drawn horizontally </li>
	<li><a href="symbols/discretes/potentiometer_vert.sym">potentiometer_vert.sym</a> - potentiometer, drawn vertically</li>
	<li><a href="symbols/discretes/varistor.sym">varistor.sym</a> - varistor</li>
	</ul>

	<h4>Diodes</h4>
	<ul>
	<li><a href="symbols/discretes/diodes/bridge_rectifier_SMD.sym">bridge_rectifier_SMD.sym</a> - bridge rectifier, value preset to DIOTEC B40S</li>
	<li><a href="symbols/discretes/diodes/diode.sym">diode.sym</a> - generic diode, preset to CD4148</li>
	<li><a href="symbols/discretes/diodes/diode_vert.sym">diode_vert.sym</a> - generic diode, vertical orientation</li>
	<li><a href="symbols/discretes/diodes/flyback_SOT23.sym">flyback_SOT23.sym</a> - A pair of schottky diodes for flyback protection in SOT23, e.g. BAT64-04</li>
	<li><a href="symbols/discretes/diodes/laserdiode.sym">laserdiode.sym</a> - three pin laser diode </li>
	<li><a href="symbols/discretes/diodes/led.sym">led.sym</a> - generic LED</li>
	<li><a href="symbols/discretes/diodes/led_bicolor_4pin.sym">led_bicolor_4pin.sym</a> - bicolor LED with four pins</li>
	<li><a href="symbols/discretes/diodes/photodiode.sym">photodiode.sym</a> - garden variety photo diode, value preset to BPW34</li>
	<li><a href="symbols/discretes/diodes/photodiode_TO18.sym">photodiode_TO18.sym</a> - three pin photo diode, value preset to S5972 </li>
	<li><a href="symbols/discretes/diodes/schottky.sym">schottky.sym</a> - schottky diode, value preset to LL4148</li>
	<li><a href="symbols/discretes/diodes/tvs.sym">tvs.sym</a> - transient voltage suppressor diode (TVS), value preset to P6SMB18AC</li>
	<li><a href="symbols/discretes/diodes/tvs_vert.sym">tvs_vert.sym</a> - TVS diode, vertical orientation</li>
	<li><a href="symbols/discretes/diodes/zener_minimelf.sym">zener_minimelf.sym</a> - zener diode, minimelf packgage, value preset to BZV55-Cxx</li>
	<li><a href="symbols/discretes/diodes/zener_thru.sym">zener.sym</a> - generic zener diode, value preset to ZPY-xx</li>
	<li><a href="symbols/discretes/diodes/zener_SOT23.sym">zener_SOT23.sym</a> - zener diode, SOT23 packgage, value preset to BZX84-Cxx</li>
	</ul>

	<h4>Transistors</h4>
	<ul>
	<li><a href="symbols/discretes/transistors/npn_transistor.sym">npn_transistor.sym</a> - npn transistor</li>
	<li><a href="symbols/discretes/transistors/pnp_transistor.sym">pnp_transistor.sym</a> - pnp transistor</li>
	<li><a href="symbols/discretes/transistors/njfet.sym">njfet.sym</a> - n-channel JFET</li>
	<li><a href="symbols/discretes/transistors/nmosfet.sym">nmosfet.sym</a> - n-channel MOSFET</li>
	<li><a href="symbols/discretes/transistors/nmosfet_power.sym">nmosfet_power.sym</a> - n-channel power MOSFET</li>
	<li><a href="symbols/discretes/transistors/pmosfet.sym">pmosfet.sym</a> - p-channel MOSFET</li>
	<li><a href="symbols/discretes/transistors/pmosfet_power.sym">pmosfet_power.sym</a> - p-channel power MOSFET</li>
	<li><a href="symbols/discretes/transistors/igbt.sym">igbt.sym</a> - IGBT </li>
	<li><a href="symbols/discretes/transistors/igbt_diode.sym">igbt_diode.sym</a> - IGBT with free wheeling diode </li>
	</ul>


<h3>Generic integrated analogs</h3>
	<h4>Amplifiers</h4>
	<ul>
	<li><a href="symbols/analog/amplifiers/instr_amp_8pin.sym">instr_amp_8pin.sym</a> - generic eight pin instrumentation amplifier, defaults to LT1167</li>
	<li><a href="symbols/analog/amplifiers/instr_amp_INA163.sym">instr_amp_INA163.sym</a> - instrumentation amplifier INA163, SO14</li>
	<li><a href="symbols/analog/amplifiers/instr_amp_INA163_pwr.sym">instr_amp_INA163_pwr.sym</a> - power symbol for INA163</li>
	<li><a href="symbols/analog/amplifiers/driver_TDA2030.sym">driver_TDA2030.sym</a>power opamp in PENTAWATT package. Pin compatible models TDA2030, TDA2050, LM675, L165 </li>
	<li><a href="symbols/analog/amplifiers/driver_BUF634.sym">driver_BUF634.sym</a> - BUF634, 250 mA analog line driver</li>
	<li><a href="symbols/analog/amplifiers/mmic-BGA427.sym">mmic-BGA427.sym</a> - MMIC amplifier, footprint SO343, BGA427, BGA420 </li>
	<li><a href="symbols/analog/amplifiers/mmic-ERA.sym">mmic-ERA.sym</a> - MMIC amplifier, four pin style by Minicircuits </li>
	<li><a href="symbols/analog/amplifiers/opamp_offset.sym">opamp_offset.sym</a> - </li>
	<li><a href="symbols/analog/amplifiers/opamp_with_pwr_pins.sym">opamp_with_pwr_pins.sym</a> - generic operational amplifier with explicit power pins</li>
	<li><a href="symbols/analog/amplifiers/opamp_single.sym">opamp_single.sym</a> - generic operational amplifier</li>
	<li><a href="symbols/analog/amplifiers/opamp_single_pwr.sym"> opamp_single_pwr.sym</a> - power pins for operational amplifier</li>
	<li><a href="symbols/analog/amplifiers/opamp_dual.sym">opamp_dual.sym</a> - generic dual operational amplifier</li>
	<li><a href="symbols/analog/amplifiers/opamp_dual_pwr.sym">opamp_dual_pwr.sym</a> - power pins for dual operational amplifier</li>
	<li><a href="symbols/analog/amplifiers/opamp_quad.sym">opamp_quad.sym</a> - generic quad operational amplifier</li>
	<li><a href="symbols/analog/amplifiers/opamp_quad_pwr.sym">opamp_quad_pwr.sym</a> - power pins for quad operational amplifier</li>
	<li><a href="symbols/analog/amplifiers/ota_LM13700.sym">ota_LM13700.sym</a> - dual operational transconductance amplifier (OTA) LM31700</li>
	<li><a href="symbols/analog/amplifiers/ota_LM13700_buffer.sym">ota_LM13700_buffer.sym</a> - buffer for OTA LM31700</li>
	<li><a href="symbols/analog/amplifiers/ota_LM13700_pwr.sym">ota_LM13700_pwr.sym</a> - power pins for OTA LM31700 </li>
	</ul>


	<h4>Comparators</h4>
	<ul>
	<li><a href="symbols/analog/comparators/comparator.sym">comparator.sym</a> - </li>
	<li><a href="symbols/analog/comparators/comparator_pwr.sym">comparator_pwr.sym</a> - </li>
	<li><a href="symbols/analog/comparators/comparator_dual.sym">comparator_dual.sym</a> - </li>
	<li><a href="symbols/analog/comparators/comparator_dual_pwr.sym">comparator_dual_pwr.sym</a> - </li>
	<li><a href="symbols/analog/comparators/comparator_quad.sym">comparator_quad.sym</a> - quad comparator, pin-out like LM339</li>
	<li><a href="symbols/analog/comparators/comparator_quad_pwr.sym">comparator_quad_pwr.sym</a> - </li>
	<li><a href="symbols/analog/comparators/comparator_quad_b.sym">comparator_quad_b.sym</a> - quad comparator, pin-out like quad opamp, e.g. TLV3494</li>
	<li><a href="symbols/analog/comparators/comparator_quad_b_pwr.sym">comparator_quad_b_pwr.sym</a> - </li>
	<li><a href="symbols/analog/comparators/comparator_LT1719.sym">comparator_LT1719.sym</a> - fast comparator LT1719</li>
	</ul>

    <h4>Optocouplers</h4>
	<ul>
	<li><a href="symbols/analog/optocouplers/optocoupler_darlington.sym">optocoupler_darlington.sym</a> - optocoupler with darlington transistor pair output</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_HCNR20_LED.sym">optocoupler_HCNR20_LED.sym</a> - optocoupler with two photodiodes, sender</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_HCNR20_PD.sym">optocoupler_HCNR20_PD.sym</a> - optocoupler with two photodiodes, receivers</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_photoFET_H11F.sym">optocoupler_photoFET_H11F.sym</a> - optocoupler with photo FET output</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_schmitt_trigger_PC900.sym">optocoupler_schmitt_trigger_PC900.sym</a> - optocoupler with schmitt trigger output</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_PVI1050.sym">optocoupler_PVI1050.sym</a> - IRF PVI1050, dual photovoltaic MOSFET driver</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_quad.sym">optocoupler_quad.sym</a> - quad optocoupler with transistor output</li>
	<li><a href="symbols/analog/optocouplers/optocoupler_VOM1271.sym">optocoupler_VOM1271.sym</a> - VISHAY VOM1271, photovoltaic MOSFET driver</li>
	</ul>

	<h4>Regulators and references</h4>
	<ul>
	<li><a href="symbols/analog/regulators/regulator_positive_fixed.sym">regulator_positive_fixed.sym</a> - linear voltage regulator with fixed positive output. E.g LM7805</li>
	<li><a href="symbols/analog/regulators/regulator_positive_variable.sym">regulator_positive_variable.sym</a> - linear voltage regulator with adjustable positive output. E.g LM317</li>
	<li><a href="symbols/analog/regulators/regulator_negative_fixed.sym">regulator_negative_fixed.sym</a> - linear voltage regulator with fixed negative output. E.g LM7905</li>
	<li><a href="symbols/analog/regulators/regulator_negative_variable.sym">regulator_negative_fixed.sym</a> - linear voltage regulator with adjustable negative output. E.g LM337</li>
	<li><a href="symbols/analog/regulators/voltage_reference.sym">voltage_reference.sym</a> - precision voltage reference, e.g. REF02, REF01, AD780, ...</li>
	<li><a href="symbols/obsolete/lm399.sym">lm399.sym</a> - precision voltege reference with heating included. Obsolete part. Do not use in new projects. </li>
	</ul>

	<h4>Specific analogs</h4>
	<ul>
	<li><a href="symbols/analog/phase_detectors/phase_detector_HMC439QS16G.sym">phase_detector_HMC439QS16G.sym</a> - low drift phase detector by Hittite</li>
	<li><a href="symbols/analog/phase_detectors/phase_detector_MCH12140.sym">phase_detector_MCH12140.sym</a> - phase detector by ON-Semi</li>
	<li><a href="symbols/analog/minicircuits/low_pass_filter_minicircuits_PLP-xxx.sym">low_pass_filter_minicircuits_PLP-xxx.sym</a> - Minicicuits RF low pass filter, model PLP-***</li>
	<li><a href="symbols/analog/minicircuits/oscillator_minicircuits_POS-xxx.sym">oscillator_minicircuits_POS-xxx.sym</a> - Minicicuits oscillator, model POS-***</li>
	<li><a href="symbols/analog/minicircuits/rf_switch_minicircuits_PSW-1211.sym">rf_switch_minicircuits_PSW-1211.sym</a> - Minicicuits RF switch, model PSW-1211</li>
	<li><a href="symbols/analog/minicircuits/variable_attenuator_minicircuits_TFAS.sym">variable_attenuator_minicircuits_TFAS.sym</a> - Minicicuits variable attenuator, model TFAS</li>
	</ul>


<h3>Digitals</h3>
I don't do much digital electronics except for some basic 74xxx components...
<ul>
<li><a href="symbols/digital/555.sym">555.sym</a> - general purpose timer, NE555, TS555, TLC555, LMC555, LM555,  SA555, ICM7555, etc.</li>
<li><a href="symbols/digital/556.sym">556.sym</a> - dual general purpose timer </li>
<li><a href="symbols/digital/EL7222.sym">EL7222.sym</a> - dual video driver, inverting/non-inverting</li>
<li><a href="symbols/digital/max232.sym">max232.sym</a> - RS232 driver</li>
<li><a href="symbols/digital/ULN2803.sym">ULN2803.sym</a> - 8-way driver for digital signals</li>
<li><a href="symbols/digital/ULN2803_pwr.sym">ULN2803_pwr.sym</a> - power symbol for 8-way driver</li>
</ul>

	<h4> 74xxx </h4>
	<ul>
	<li><a href="symbols/digital/74xxx/7400_4xNAND.sym">7400_4xNAND.sym</a> - </li>
	<li><a href="symbols/digital/74xxx/7402_4xNOR.sym">7402_4xNOR.sym</a> - </li>
	<li><a href="symbols/digital/74xxx/7404_6xNOT.sym">7404_6xNOT.sym</a> - 6x NOT gate</li>
	<li><a href="symbols/digital/74xxx/7409_4xAND.sym">7409_4xAND.sym</a> - 4x AND with open collector</li>
	<li><a href="symbols/digital/74xxx/7414_6xNOT_schmitt_trigger.sym">7414_6xNOT_schmitt_trigger.sym </a> - 6x NOT gate with schmitt trigger</li>
	<li><a href="symbols/digital/74xxx/7432_4xOR.sym">7432_4xOR.sym</a> - 4x two input OR gate </li>
	<li><a href="symbols/digital/74xxx/7486_4xXOR.sym">7486_4xXOR.sym</a> - 4x two input XOR gate </li>
	<li><a href="symbols/digital/74xxx/74112_2xJK.sym">74112_2xJK.sym</a> - 2x JK flip-flop</li>
	<li><a href="symbols/digital/74xxx/74123_2xMONOFLOP.sym">74123_2xMONOFLOP.sym</a> - 2x mono-flop, retriggerable</li>
	<li><a href="symbols/digital/74xxx/74132_4xNAND_schmitt_trigger.sym">74132_4xNAND_schmitt_trigger.sym</a> - 4x NAND, schmitt trigger on input</li>
	<li><a href="symbols/digital/74xxx/74161_4bit_counter.sym">74161_4bit_counter.sym</a> - 4 bit binary counter with asynchronous reset</li>
	<li><a href="symbols/digital/74xxx/74163_4bit_counter.sym">74163_4bit_counter.sym</a> - 4 bit decimal counter with synchronous reset</li>
	<li><a href="symbols/digital/74xxx/7420_2x4NAND.sym">7420_2x4NAND.sym</a> - 2x NAND with 4 inputs</li>
	<li><a href="symbols/digital/74xxx/74_pwr16.sym">74_pwr16.sym</a> - power symbol for 16 pin package</li>
	<li><a href="symbols/digital/74xxx/74_pwr.sym">74_pwr.sym</a> - power symbol for 14 pin package, Vcc on pin 14</li>
	</ul>

	<h4> Processors </h4>
	<ul>
	<li><a href="symbols/digital/processors/ATXmegaA1.sym">ATXmegaA1.sym</a>, <a href="symbols/digital/processors/ATXmegaA1.symdef">ATXmegaA1.symdef</a> - ATXmegaA1, 100 pin TQFP</li>
	<li><a href="symbols/digital/processors/ATXmegaA3.sym">ATXmegaA3.sym</a>, <a href="symbols/digital/processors/ATXmegaA3.symdef">ATXmegaA3.symdef</a> - ATXmegaA3, 64 pin TQFP</li>
	<li><a href="symbols/digital/processors/ATmega32TQFP.sym">ATmega32TQFP.sym</a> - ATmega32, TQFP-44</li>
	<li><a href="symbols/digital/processors/ATXmegaA4.sym">ATXmegaA4.sym</a>, <a href="symbols/digital/processors/ATXmegaA4.symdef">ATXmegaA4.symdef</a> - ATXmegaA4, 44 pin TQFP</li>
	<li><a href="symbols/digital/processors/ATXmegaB1.sym">ATXmegaB1.sym</a>, <a href="symbols/digital/processors/ATXmegaB1.symdef">ATXmegaB3.symdef</a> - ATXmegaB1, specialized for LCD, 100 pin TQFP</li>
	<li><a href="symbols/digital/processors/ATXmegaB3.sym">ATXmegaB3.sym</a>, <a href="symbols/digital/processors/ATXmegaB3.symdef">ATXmegaB3.symdef</a> - ATXmegaB3, specialized for LCD, 64 pin TQFP</li>
	<li><a href="symbols/digital/processors/ATXmegaC3.sym">ATXmegaC3.sym</a> - ATXmegaC3, 64 pin TQFP (pin compatible with ATXmegaA3)</li>
	<li><a href="symbols/digital/processors/ATXmegaC4.sym">ATXmegaC4.sym</a> - ATXmegaC4, 44 pin TQFP (pin compatible with ATXmegaA4)</li>
	<li><a href="symbols/digital/processors/ATXmegaD3.sym">ATXmegaD3.sym</a> - ATXmegaD3, 64 pin TQFP (pin compatible with ATXmegaA3)</li>
	<li><a href="symbols/digital/processors/ATXmegaD4.sym">ATXmegaD4.sym</a> - ATXmegaD4, 44 pin TQFP (pin compatible with ATXmegaA4)</li>
	<li><a href="symbols/digital/processors/ATXmegaE5.sym">ATXmegaE5.sym</a>, <a href="symbols/digital/processors/ATXmegaE5.symdef">ATXmegaE5.symdef</a> - ATXmegaE5, 32 pin TQFP </li>
	</ul>

	<h4> CPLD Altera MAX II EPM240T100 </h4>
	<ul>
	<li><a href="symbols/digital/altera/Altera_MAX_II_EPM240T100_bank1.sym">Altera_MAX_II_EPM240T100_bank1.sym</a> - first bank of IO signals</li>
	<li><a href="symbols/digital/altera/Altera_MAX_II_EPM240T100_bank1.symdef">Altera_MAX_II_EPM240T100_bank1.symdef</a> - first bank, input file for djboxsym</li>
	<li><a href="symbols/digital/altera/Altera_MAX_II_EPM240T100_bank2.sym">Altera_MAX_II_EPM240T100_bank2.sym</a> - second bank of IO signals</li>
	<li><a href="symbols/digital/altera/Altera_MAX_II_EPM240T100_bank2.symdef">Altera_MAX_II_EPM240T100_bank2.symdef</a> - second bank of IO signals, input file for djboxsym</li>
	<li><a href="symbols/digital/altera/Altera_MAX_II_EPM240T100_functions_PWR.sym">Altera_MAX_II_EPM240T100_functions_PWR.sym</a> - function pins and power connections</li>
	<li><a href="symbols/digital/altera/Altera_MAX_II_EPM240T100_functions_PWR.symdef">Altera_MAX_II_EPM240T100_functions_PWR.symdef</a> - function pins and power connections, input file for djboxsym</li>
	</ul>

	<h4> Clock Dividers </h4>
	<ul>
	<li><a href="symbols/digital/dividers/divider_MC12093.sym">divider_MC12093.sym</a> divide by 2, by 4, by 8, by ON-Semi </li>
	<li><a href="symbols/digital/dividers/ICS674-01_A.sym">ICS674-01_A.sym</a> versertile divider by IDT, 7 bit component </li>
	<li><a href="symbols/digital/dividers/ICS674-01_B.sym">ICS674-01_B.sym</a> versertile divider by IDT, 9 bit component </li>
	<li><a href="symbols/digital/dividers/ICS674-01_pwr.sym">ICS674-01_pwr.sym</a> versertile divider by IDT, power pins </li>
	</ul>


	<h4> Analog Switches</h4>
	<ul>
	<li><a href="symbols/digital/analog_switches/analog_switch_TS5A3157.sym">analog_switch_TS5A3157.sym</a> - single analog switch TS5A3157, or TSA53159 </li>
	<li><a href="symbols/digital/analog_switches/analog_switch_TS5A3157_pwr.sym">analog_switch_TS5A3157_pwr.sym</a> - single analog switch, power symbol </li>
	<li><a href="symbols/digital/analog_switches/analog_switch_DG467.sym">analog_switch_DG467.sym</a> - single analog switch in TSOP6 package, like DG467, or DG447</li>
	<li><a href="symbols/digital/analog_switches/analog_switch_DG468.sym">analog_switch_DG468.sym</a> - single analog switch in TSOP6 package, like DG468, or DG448</li>
	<li><a href="symbols/digital/analog_switches/analog_switch_TSOP6_pwr.sym">analog_switch_TSOP6_pwr.sym</a> - single analog switch, power symbol, TSOP6 </li>
	<li><a href="symbols/digital/analog_switches/multiplexer_DG406.sym">multiplexer_DG406.sym</a> - multiplexer 4 bit to 16 bipolar channels, SO28 </li>
	<li><a href="symbols/digital/analog_switches/quad_analog_switch.sym">quad_analog_switch.sym</a> - quad analog closing switch like DG201, DG211, DG406, or ADG1311 </li>
	<li><a href="symbols/digital/analog_switches/quad_analog_switch_closed.sym">quad_analog_switch_closed.sym</a> - quad analog opening switch like DG202, DG212, or ADG1312 </li>
	<li><a href="symbols/digital/analog_switches/quad_analog_switch_pwr.sym">quad_analog_switch_pwr.sym</a> - power pins for quad analog switch </li>
	</ul>

<h3>Connectors</h3>
<ul>
<li><a href="symbols/connectors/con_1x1.sym">con_1x1.sym</a> - generic one pin connector</li>
<li><a href="symbols/connectors/con_1x2.sym">con_1x2.sym</a> - generic two pin connector</li>
<li><a href="symbols/connectors/con_1x3.sym">con_1x3.sym</a> - generic three pin connector</li>
<li><a href="symbols/connectors/con_1x4.sym">con_1x4.sym</a> - generic four pin connector</li>
<li><a href="symbols/connectors/con_1x5.sym">con_1x5.sym</a> - generic five pin connector</li>
<li><a href="symbols/connectors/con_1x8.sym">con_1x8.sym</a> - generic eight pin connector, e.g. for RJ45-8P8C </li>
<li><a href="symbols/connectors/con_1x10.sym">con_1x10.sym</a> - generic nine pin connector</li>
<li><a href="symbols/connectors/con_1x12.sym">con_1x12.sym</a> - generic twelve pin connector</li>
<li><a href="symbols/connectors/con_1x14.sym">con_1x14.sym</a> - generic fourteen pin connector</li>
<li><a href="symbols/connectors/con_1x16.sym">con_1x16.sym</a> - generic sixteen pin connector</li>
<li><a href="symbols/connectors/con_1x18.sym">con_1x18.sym</a> - generic eighteen pin connector</li>
<li><a href="symbols/connectors/con_2x3.sym">con_2x3.sym </a> - </li>
<li><a href="symbols/connectors/con_2x3_side.sym">con_2x3_side.sym</a> - </li>
<li><a href="symbols/connectors/con_2x5.sym">con_2x5.sym</a> - </li>
<li><a href="symbols/connectors/con_2x8.sym">con_2x8.sym</a> - </li>
<li><a href="symbols/connectors/con_2x10.sym">con_2x10.sym</a> - </li>
<li><a href="symbols/connectors/con_2x10a.sym">con_2x10a.sym</a> - 20 pin, alternative pin numbers. </li>
<li><a href="symbols/connectors/con_2x16.sym">con_2x16.sym</a> - </li>
<li><a href="symbols/connectors/con_2x20.sym">con_2x20.sym</a> - </li>
<li><a href="symbols/connectors/con_2x32.sym">con_2x32.sym</a> (no footprint, yet.)</li>
<li><a href="symbols/connectors/con_4x_shield.sym">con_4x_shield.sym</a> - shielded four way connector, e.g. LEMO EPG.0B.304.HLN</li>
<li><a href="symbols/connectors/con_BNC.sym">con_BNC.sym</a> - intuitive symbol for a BNC connector</li>
<li><a href="symbols/connectors/con_DVI_D.sym">con_DVI_D.sym</a> - connector for digital LCD screens</li>
<li><a href="symbols/connectors/con_3pin_supply.sym">con_3pin_supply.sym</a> - a 3 pin connector dedicated to distribute power among boards</li>
<li><a href="symbols/connectors/con_RIACON_2pin.sym">con_RIACON_2pin.sym</a> - connector by RIA connect, 2 pin</li>
<li><a href="symbols/connectors/con_RIACON_3pin.sym">con_RIACON_3pin.sym</a> - connector by RIA connect, 3 pin</li>
<li><a href="symbols/connectors/con_rj45.sym">con_rj45.sym</a> - 8P8C connector, also known as RJ45 </li>
<li><a href="symbols/connectors/con_SCSI68.sym">con_SCSI68.sym</a> - SCSI connector, 68 pins</li>
<li><a href="symbols/connectors/con_XLR3.sym">con_XR3.sym</a> - three pin XLR connector </li>
<li><a href="symbols/connectors/con_3pin_supply.sym">con_3pin_supply.sym</a> - 3 pin connector for power supply</li>
<li><a href="symbols/connectors/PS-2.sym"> PS-2.sym</a> - connector by JAE, IL-G series, 2 pins, model IL-G-2S-S3C2-SA </li>
<li><a href="symbols/connectors/PS-3.sym"> PS-3.sym</a> - connector by JAE, IL-G series, 3 pins, model IL-G-3S-S3C2-SA </li>
<li><a href="symbols/connectors/PS-5.sym"> PS-5.sym</a> - connector by JAE, IL-G series, 5 pins, model IL-G-5S-S3C2-SA </li>
<li><a href="symbols/connectors/PS-8.sym"> PS-8.sym</a> - connector by JAE, IL-G series, 8 pins, model IL-G-8S-S3C2-SA </li>
<li><a href="symbols/connectors/subD9.sym">subD9.sym</a> - SubD9, aka DB9</li>
<li><a href="symbols/connectors/con_SMA.sym">con_SMA.sym</a> - intuitive symbol for a SMA connector</li>
<li><a href="symbols/connectors/subD9-2.sym">subD9-2.sym</a> - more compact version of SubD9.sym</li>
<li><a href="symbols/connectors/subD15.sym">subD15.sym</a> - SubD15, aka DB15</li>
<li><a href="symbols/connectors/subD25.sym">subD25.sym</a> - SubD25, aka DB25</li>
</ul>


<h3>Power symbols</h3>
<ul>
<li><a href="symbols/power/5V-.sym">5V-.sym</a> - </li>
<li><a href="symbols/power/5V+.sym">5V+.sym</a> - </li>
<li><a href="symbols/power/12V-.sym">12V-.sym</a> - </li>
<li><a href="symbols/power/12V+.sym">12V+.sym</a> - </li>
<li><a href="symbols/power/15V-.sym">15V-.sym</a> - </li>
<li><a href="symbols/power/15V+.sym">15V+.sym</a> - </li>
<li><a href="symbols/power/custom_GND.sym">custom_GND.sym</a> - GND symbol with customizable net attribute</li>
<li><a href="symbols/power/custom_minus.sym">custom_minus.sym</a> - negative power symbol with customizable net attribute</li>
<li><a href="symbols/power/custom_plus.sym">custom_plus.sym</a> - positive power symbol with customizable net attribute</li>
<li><a href="symbols/power/gnd.sym">gnd.sym</a> - ground </li>
<li><a href="symbols/power/rGND.sym">rGND.sym</a> - reference ground</li>
<li><a href="symbols/power/nc.sym">nc.sym</a> - a symbol to mark deliberately not connected pins</li>
<li><a href="symbols/power/Ub-.sym">Ub-.sym</a> - </li>
<li><a href="symbols/power/Ub+.sym">Ub+.sym</a> - </li>
<li><a href="symbols/power/vcc.sym">vcc.sym</a> - </li>
<li><a href="symbols/power/vref_minus.sym">vref_minus.sym</a> - </li>
<li><a href="symbols/power/vref.sym">vref.sym</a> - </li>
</ul>

<h3> Switches </h3>
<ul>
<li><a href="symbols/switches/dipswitch_2x.sym">dipswitch_2x.sym</a> - two channel dipswitch</li>
<li><a href="symbols/switches/dipswitch_4x.sym">dipswitch_4x.sym</a> - four channel dipswitch</li>
<li><a href="symbols/switches/dipswitch_6x.sym">dipswitch_6x.sym</a> - six channel dipswitch</li>
<li><a href="symbols/switches/dipswitch_8x.sym">dipswitch_8x.sym</a> - eight channel dipswitch</li>
<li><a href="symbols/switches/dipswitch_10x.sym">dipswitch_10x.sym</a> - ten channel dipswitch</li>
<li><a href="symbols/switches/switch_SPST.sym">switch_SPST.sym</a> - switch, 1 pole, on - off</li>
<li><a href="symbols/switches/switch_SPDT.sym">switch_SPDT.sym</a> -  switch 1 pole, on - on</li>
<li><a href="symbols/switches/switch_SPDT_on-off-on.sym">switch_SPDT_on-off-on.sym</a> -  switch 1 pole, on - off - on</li>
<li><a href="symbols/switches/switch_DPDT.sym">switch_DPDT.sym</a> - switch, 2 pole, on - on</li>
<li><a href="symbols/switches/switch_1x12.sym">switch_1x12.sym</a> - switch, 1 pole, 12 positions</li>
<li><a href="symbols/switches/switch_1x4.sym">switch_1x4.sym</a> - switch, 1 pole, 4 positions</li>
<li><a href="symbols/switches/switch_2x6.sym">switch_2x6.sym</a> - switch, 2 pole, 6 positions</li>
<li><a href="symbols/switches/switch_3x4.sym">switch_3x4.sym</a> - switch, 3 pole, 4 positions</li>
<li><a href="symbols/switches/switch_4x3.sym">switch_4x3.sym</a> - switch, 4 pole, 3 positions</li>
<li><a href="symbols/switches/coded_switch_4bit.sym">coded_switch_4bit.sym</a> - 4 bit coded switch, defaults to ELMA C08</li>
</ul>

<h3>Misc</h3>
<ul>
<li><a href="symbols/misc/beeper.sym">beeper.sym</a> - </li>
<li><a href="symbols/misc/button-LED.sym">button-LED.sym</a> - </li>
<li><a href="symbols/misc/button.sym">button.sym</a> - </li>
<li><a href="symbols/misc/cuboid.sym">cuboid.sym</a> - a cuboid to be soldered to the pcb </li>
<li><a href="symbols/misc/crystal.sym">crystal.sym</a> </li>
<li><a href="symbols/misc/enclosing.sym">enclosing.sym</a> - enclosing </li>
<li><a href="symbols/misc/hole_plated.sym">hole_plated.sym</a> - plated hole</li>
<li><a href="symbols/misc/hole_non-plated.sym">hole_non-plated.sym</a> - hole without plating</li>
<li><a href="symbols/misc/jumper.sym">jumper.sym</a> - a jumper to connect two nets</li>
<li><a href="symbols/misc/jumper-default.sym">jumper-default.sym</a> - a graphical symbol to mark the defalt of a jumper</li>
<li><a href="symbols/misc/jumper_3pin.sym">jumper-3pin.sym</a> - a jumper to connect to one net or the other</li>
<li><a href="symbols/misc/jumper_2x2.sym">jumper_2x2.sym</a> - four pins in a square. Useful to swap connections</li>
<li><a href="symbols/misc/osc-crystek.sym">osc-crystek.sym</a> - fixed frequency oscillator by Crystek </li>
<li><a href="symbols/misc/pad.sym">pad.sym</a> - </li>
<li><a href="symbols/misc/pad_2.sym">pad_2.sym</a> - </li>
<li><a href="symbols/misc/perfboard.sym">perfboard.sym</a> - a symbol to provide a perfboard footprint</li>
<li><a href="symbols/misc/PLL_TLC2932.sym">PLL_TLC2932.sym</a> - </li>
<li><a href="symbols/misc/relay_SPDT.sym">relay_SPDT.sym</a> - single pole double throw relay, defaults to Tyco T7CV5D</li>
<li><a href="symbols/misc/relay_DPDT.sym">relay_DPDT.sym</a> - double pole double throw relay, defaults to a Axicom FP2</li>
<li><a href="symbols/misc/transformer_3pickups.sym">transformer_3pickups.sym</a> - transformer with three pick-ups</li>
</ul>


<h3>Block</h3>
These are blocks of subcircuits I frequently use. They contain some of the above symbols. Add them to a circuit with the option "Include-as-individual-objects" checked. See the <a href=" http://geda-project.org/wiki/geda:faq-gschem#can_my_local_library_cover_frequently_needed_sub_circuits">geda wiki</a> for details.
For some blocks preview does not work correctly because I did not embed the symbols. This is deliberate, because I want the blocks to track my changes to symbols in the library. Consequently, there is no way for gschem running on the geda-symbols server to find the symbols contained in the blocks. However, these blocks will work, if you have installed my symbols locally.

<ul>
<li><a href="symbols/blocks/opamp_adder.sym">opamp_adder.sym</a> - basic opamp circuit </li>
<li><a href="symbols/blocks/opamp_pwr_caps.sym">opamp_pwr_caps.sym</a> - power pins and buffer caps for opamp </li>
<li><a href="symbols/blocks/opamp_with_booster.sym">opamp_with_booster.sym</a> - opamp with current booster </li>
<li><a href="symbols/blocks/schmitttrigger.sym">schmitttrigger.sym</a> - text book schmittriger </li>
<li><a href="symbols/blocks/resistor_dipswitch_beanstalk.sym">resistor_dipswitch_beanstalk.sym</a> - a stack of resistors that can be activated with a dip switch </li>
<li><a href="symbols/blocks/analog_SPST.sym">analog_SPST.sym</a> - a single pole single throw switch done with a regular quad analog switch</li>
<li><a href="symbols/blocks/subsheet_in_out.sym">subsheet_in_out.sym</a> - some input output symbols frequently used in subsheets </li>
<li><a href="symbols/blocks/supply_with_regulators.sym">supply_with_regulators.sym </a> - +/- Ub linear regulators with caps and diodes</li>
<li><a href="symbols/blocks/supply_with_variable_regulators.sym">supply_with_variable_regulators.sym </a> - +/- variable linear regulators with caps and diodes</li>

<li><a href="symbols/blocks/resistor_dipswitch_beanstalk_4x.sym">resistor_dipswitch_beanstalk_4x.sym </a> - four stacked resistors activated by DIP switches</li>
<li><a href="symbols/blocks/resistor_dipswitch_beanstalk_6x.sym">resistor_dipswitch_beanstalk_6x.sym </a> - six stacked resistors activated by DIP switches</li>
<li><a href="symbols/blocks/resistor_dipswitch_beanstalk_8x.sym">resistor_dipswitch_beanstalk_8x.sym </a> - eight stacked resistors activated by DIP switches</li>
<li><a href="symbols/blocks/resistor_dipswitch_beanstalk_10x.sym">resistor_dipswitch_beanstalk_10x.sym </a> - ten stacked resistors activated by DIP switches</li>
</ul>
