<!--#set var="title" value="Damian Zaręba" -->
<!--#include virtual="/header.html" -->

<center><h1>Damian Zareba</h1></center>

<h2>Nickname</h2>
My nickname on the Internet(IRC etc.) is <strong>KhazAkar</strong>

<h2>License</h2>
All of my work(symbols,footprints etc.) is published under MIT license,adapted for hardware.

<h2>Github</h2>
My projects made with gEDA toolset.
<a href="https://github.com/KhazAkar/geda-projects" >

<!--#include virtual="/trailer.html" -->
