<!--#set var="title" value="Frank Miles" -->
<!--#include virtual="/header.html" -->

Frank Miles <br/>
email: <a href="mailto:fpm@wu.edu">fpm@wu.edu</a>
Reverse the vowel and consonant in the institution name to get the proper 2-letter e-mail address.

<h2>Notes</h2>
<p><a name="notes"></a>All tools, symbols and footprints are licensed under
<a href="http://www.gnu.org/licenses/gpl.txt">GPL 3</a> for distribution and
are unrestricted for any use.</p>

<h2>Tools</h2>
<ul>
  <li><a href="gnet-kicad.scm">gnet-kicad.scm</a>: Generate a KiCad-compatible netlist using gnetlist</li>
</ul>
<p>
To use this, simply copy it into the same directory as your other scheme/guile gnetlist scripts.
Searching for gnet-futurenet2.scm should locate this directory.
On my Debian systems this is /usr/share/gEDA/scheme .  This is all you need to do to make this
script usable with gnetlist!
</p><p>
<ul>Warnings</ul>: This has only been tried with a few of my schematics, and not at all on Windows.
I am new to KiCad so cannot offer any support there other than recommending using 'cvpcb' to align
your footprint names with those native to KiCad's 'pcbnew'.  This script generates the simple 'legacy'
KiCad netlist form.
</p>

<h2>Documentation</h2>

<h2>Symbols</h2>

<h2>Footprints</h2>

<!--#include virtual="/trailer.html" -->
