<!--#set var="title" value="Andreas Czechanowski" -->
<!--#include virtual="/header.html" -->

Andreas Czechanowski (DL4SDC) <br>
email: <a href="mailto:REPLACE_OR_REMOVEdl4sdcATgmxDOTdeALL_CAPS">dl4sdcATgmxDOTde</a>

<h2>Tools</h2>

<h2>Documentation</h2>

<h2>Symbols</h2>
  <ul>
    <li><a href="symbols/A4100D-1.sym">A4100D-1.sym</a> - (TDA4100) AM Receiver and FM Demodulator Radio circuit</li>
    <li><a href="symbols/AN214-1.sym">AN214-1.sym</a> - 13V, 4W Audio Power Amplifier</li>
    <li><a href="symbols/bandfilter-1.sym">bandfilter-1.sym</a> - RF/IF adjustable band filter with tap and secondary</li>
    <li><a href="symbols/bandfilter-2.sym">bandfilter-2.sym</a> - RF/IF adjustable band filter with tap, capacitor and secondary</li>
    <li><a href="symbols/MC3361-1.sym">MC3361-1.sym</a> - Low Power Narrowband FM IF</li>
    <li><a href="symbols/PR4404-1.sym">PR4404-1.sym</a> - Low Voltage LED Boost Driver</li>
    <li><a href="symbols/TCA440-1.sym">TCA440-1.sym</a> - AM Receiver Circuit</li>
    <li><a href="symbols/LM380N-1.sym">LM380N-1.sym</a> - 2.5W Audio Power Amplifier (DIP14)</li>
    <li><a href="symbols/LM380N8-1.sym">LM380N8-1.sym</a> - 2.5W Audio Power Amplifier (DIP8)</li>
  </ul>

<h2>Footprints</h2>


<!--#include virtual="/trailer.html" -->
