<!--#set var="title" value="dllud" -->
<!--#include virtual="/header.html" -->

dllud <br>
email: <a href="mailto:dllud@riseup.net">dllud@riseup.net</a> <br>

<h2>Symbols</h2>

<p>Note: all my symbols are licensed GPL for distribution, and unlimited for use.</p>

<ul>
	<li> <a href="symbols/ATmegaX8.sym">ATmegaX8.sym</a> - AVR ATmegaX8 family of 8-bit microcontrollers</li>
	<li> <a href="symbols/darlington_NPN_TO126.sym">darlington_NPN_TO126.sym</a> - Darlington NPN transistor in TO126 package</li>
	<li> <a href="symbols/npn_TO92.sym">npn_TO92.sym</a> - NPN transistor in TO92 package</li>
	<li> <a href="symbols/npn_TO220.sym">npn_TO220.sym</a> - NPN transistor in TO220 package</li>
</ul>

<h2>Footprints</h2>

<p>Note: all my footprints are licensed GPL for distribution, and unlimited for use.</p>

<ul>
	<li> <a href="footprints/DO-35.fp">DO-35.fp</a> - Diode in DO-35 package</li>
	<li> <a href="footprints/DO-41.fp">DO-41.fp</a> - Diode in DO-41 package</li>
	<li> <a href="footprints/push_button_12mm.fp">push_button_12mm.fp</a> - Push button in 12 mm square package</li>
	<li> <a href="footprints/r025_6mm_leads.fp">r025_6mm_leads.fp</a> - 0.25 W resistor with 6 mm long leads</li>
	<li> <a href="footprints/r025_10mm_leads.fp">r025_10mm_leads.fp</a> - 0.25 W resistor with 10 mm long leads</li>
</ul>

<!--#include virtual="/trailer.html" -->
